[2014-06-25 07:58] muesli opened #1 "Create a piped filter"
A piped filter is an arbitrary command that gets executed and communicates via stdin/out with beehive.

[2014-06-25 08:04] muesli opened #2 "Philips Hue Bee"
A bee that controls Philips Hue bulbs.

[2014-06-25 08:04] muesli opened #3 "Anel PowerCtrl Bee"
A bee that remote-controls Anel's PowerCtrl sockets.

[2014-06-25 08:06] muesli opened #4 "Sphincter Recipe"
Extend webbee a bit and wire up Sphincter.

[2014-06-25 08:12] muesli opened #5 "Boolean operators for chains"
Boolean logic for chaining would be awesome.

[2014-06-25 08:24] muesli opened #6 "NetAtmo Bee"
A bee that triggers weather events via the NetAtmo API.

[2014-06-25 08:25] muesli opened #7 "FitBit Bee"
A bee that triggers events via the FitBit API.

[2014-06-25 08:27] muesli opened #8 "System Bee"
A bee that watches your hardware and triggers events accordingly. Diskspace, memory, bandwidth, (wireless) network status are just a few examples of event categories.

[2014-06-25 08:28] muesli opened #9 "GitHub Bee"
Bee triggering events on GitHub commits / changes.

[2014-06-25 08:28] muesli opened #10 "Jira Bee"
A bee that triggers events on Jira changes.

[2014-06-25 08:31] muesli opened #11 "MPRIS2 Bee"
A bee that triggers events and controls your media player of choice.

[2014-06-25 08:31] muesli opened #12 "Nagios Bee"
A bee that triggers events on Nagios state changes.

[2014-06-25 08:32] muesli opened #13 "Tumblr Bee"
A bee powered by the Tumblr API.

[2014-06-25 08:32] muesli opened #14 "Twitter Bee"
A Twitter bee.

[2014-06-25 08:33] muesli opened #15 "Facebook Bee"
A Facebook bee.

[2014-06-25 08:33] muesli opened #16 "Google Bee"
A bee that searches on Google.

[2014-06-25 08:34] muesli opened #17 "RSS Bee"
A bee triggering events from RSS feed updates.

[2014-06-25 08:34] muesli opened #18 "WordPress Bee"
A bee that can post to WordPress.

[2014-06-25 08:35] muesli opened #19 "Email Bee"
A bee that triggers events from incoming emails and provides an action to send a new mail.

[2014-06-25 08:36] muesli opened #20 "Instagram Bee"
An Instagram bee.

[2014-06-25 08:37] muesli opened #21 "Neutrino Bee"
A bee able to control Neutrino receivers.

[2014-06-25 08:40] muesli opened #22 "Document how to write a Bee or Filter"
Write a wiki entry providing a step-by-step guide on how to write a bee or filter.

[2014-06-25 09:15] muesli opened #23 "FlipDot Bee"
Write a FlipDot bee and wire up a chain.

[2014-06-25 09:15] muesli opened #24 "LabPing Recipe"
Write a LabPing recipe for OLA.

[2014-06-25 09:17] muesli opened #25 "YouTube Bee"
A bee triggering events on new YouTube videos (or even posting new videos to YouTube).

[2014-06-25 09:19] muesli opened #26 "Storage containers for Bees"
Bees should be able to keep state with the help of local & global containers offering temporary & persistent storage.

[2014-06-25 09:23] muesli opened #27 "SpaceAPI Bee"
A SpaceAPI Bee.

[2014-06-25 09:44] muesli opened #28 "Algebraic operation Filters"
Anyone with some 8th grade maths knowledge could do this ;-)

[2014-06-26 05:08] muesli opened #29 "Jenkins/Hudson Bee"
A bee that integrates with Jenkins / Hudson API.

[2014-06-26 19:02] grindhold opened #30 "Pastebin Bee"
A bee that can post stuff to http://pastebin.com and react to stuff being posted.

[2014-06-26 19:12] #17 closed, assigned to grindhold

[2014-06-27 01:02] #3 closed, assigned to muesli

[2014-06-27 01:21] muesli opened #31 "Timing Bee"
A bee that triggers events based on Time.

[2014-06-28 23:44] grindhold opened #32 "notifyd Bee"
A bee which accepts events and publishes them as notifydaemon-messages

[2014-06-29 06:35] #12 closed, assigned to grindhold

[2014-06-29 17:00] #29 closed, assigned to grindhold

[2014-06-30 08:11] #32 closed, assigned to grindhold

[2014-06-30 18:45] #31 closed, assigned to glaxx

[2014-07-01 19:51] grindhold opened #33 "SIP Bee"
Bee that watches over incoming calls or texts to a SIP-based phonenumber. Bee should also have the ablilty to send SMS.

Bonuspoints for text-to-speech-call-capability!

[2014-07-02 18:45] grindhold opened #34 "MongoDB Bee"
MongoDBee should provide an action to dump events into a MongoDB

[2014-08-02 00:21] #14 closed, assigned to waaaaargh

[2014-08-02 00:22] #4 closed, assigned to nobody

[2014-08-02 00:23] #24 closed, assigned to nobody

[2014-08-02 01:49] #13 closed, assigned to muesli

[2014-08-02 02:56] #19 closed, assigned to muesli

[2014-08-02 03:02] #27 closed, assigned to waaaaargh

[2014-08-02 04:10] #2 closed, assigned to muesli

[2014-08-30 17:20] Profpatsch opened #39 "Move info about starting bees inside optional flag?"
[Rule of silence](http://catb.org/~esr/writings/taoup/html/ch01s06.html#id2878450)

[2014-09-06 03:25] grindhold opened #40 "Redmine Bee"
Bee fuer http://www.redmine.org/

[2014-09-06 03:28] grindhold opened #41 "MediaWiki Bee"
Bee to react on Mediawiki edits

[2014-09-13 20:02] Profpatsch opened #42 "HtmlExtractBee misses everything before a “-”"
Example:

[code]

evaluates to

[code]

but its full title is

[code]

[2014-10-25 03:35] muesli opened #43 "Update ircbee to latest goirc API"
See Travis CI errors.

[2014-11-03 13:42] grindhold opened #44 "MumbleBee"
Bee that connects to mumble services.

Possible unfinished library to complete and use would be https://github.com/handymic/mumgo
Other option would be to put together a own new mumble-go-lib.

[2014-12-01 19:56] mcmillhj opened #45 "Cannot build beehive on Debian Jessie, Go version 1.2"
Hi,

I find this project really interesting and was hoping to submit some patches; however I am unable to build when following the instructions

[code]

Here is what I am running systemwise:

[code]

Thoughts?

[2014-12-03 13:53] #45 closed, assigned to nobody

[2014-12-03 14:25] #43 closed, assigned to muesli

[2014-12-22 12:55] Profpatsch opened #47 "100% cpu in either webbee or ircbee"
Config:

[code]

[2015-02-02 17:39] muesli commented on #47
Fixed.

[2015-02-02 17:39] #47 closed

[2015-02-03 09:12] muesli commented on #42
To be honest, I think that's intentional by the html metadata parser we use, due to so many sites doing something like "foobar.com - The real article title".

Not sure if we want to get overly clever and add a special case for YouTube, or even take the "|" into account.

[2015-02-03 09:13] muesli commented on #39
Once the config interface is done, yes.

[2015-02-04 18:56] Profpatsch commented on #42
This happens a *lot*.

[2015-02-04 19:02] muesli commented on #42
Patches are welcome :-p

[2015-03-17 18:13] Profpatsch opened #48 "IRCBee doesn’t build"
[code]

[2015-03-17 19:00] Profpatsch commented on #48
Go seems to be unable to get new versions of dependencies by itself.

[2015-03-17 19:00] #48 closed

[2015-04-21 12:55] teo commented on #10
JIRA exposes an RSS feed for the Activity stream. Could it be used for this?

[2015-04-22 07:20] muesli commented on #10
Should be easy enough, yeah. A proper plugin would still be nicer :-)

[2015-04-22 12:59] dschmidt commented on #10
teo and I discussed it already, we'll work on this together next week when I'm in Augsburg. He already found some go client library which we are going to use probably :+1:

[2015-05-13 07:27] tpltnt commented on #25
Some hints:
* URL RSS feed uploads: http://gdata.youtube.com/feeds/api/users/USER_NAME/uploads
* URL RSS feed comments: https://gdata.youtube.com/feeds/api/videos/VIDEO_ID/comments

[2015-11-13 16:33] Horrendus commented on #10
@dschmidt @teo Do you still remember which go client library for JIRA you found or do you have any recommendations?

[2015-11-13 16:45] dschmidt commented on #10
No, obviously we didnt get to it :D

[2016-03-14 19:34] Profpatsch opened #52 "IRC bee fails after a few retries on lost connection"

[2016-05-18 09:26] grindhold opened #53 "DBus bee"
implement a Bee that is able to receive events via dbus and trigger rpc method calls via dbus

[2016-05-28 00:35] tpltnt commented on #30
maybe leverage [go_pastebin](https://github.com/glaxx/go_pastebin)

[2016-12-06 15:20] muesli opened #63 "Include option for config files"
Make beehive able to include multiple config files, so chains can be split up into multiple files.

[2016-12-06 18:30] muesli opened #64 "Missing logo for execbee"
execbee currently has no icon / logo set.

[2016-12-10 13:54] muesli commented on #42
Decided this should be fixed upstream as it isn't a specific problem of Beehive / HtmlExtractBee.

[2016-12-10 13:54] #42 closed

[2016-12-31 00:17] muesli opened #65 "Use smolder for restful config API"
Use https://github.com/muesli/smolder to implement the restful JSON config API.

[2016-12-31 00:19] muesli opened #66 "Move config into a separate repository and make it a git submodule"
Two separate projects, two repositories. Easier to test (Travis limitations), easier to handle.

[2017-01-08 19:30] dschmidt commented on #66
"git submodul" and "easier to handle" in one sentence, wow :-)

[2017-01-08 20:23] muesli commented on #66
Right? ;-) Seriously though, you can only have one Travis config per repo, so that alone justifies separating the Go project root from the Ember.js one.

[2017-01-08 21:23] dschmidt commented on #66
Sure i'm obviously kidding :)

[2017-01-28 06:21] muesli commented on #65
Done.

[2017-01-28 06:21] #65 closed

[2017-01-28 06:28] #39 closed

[2017-01-28 06:29] muesli commented on #28
This can be done with the standard 'template' filter now.

[2017-01-28 06:31] muesli commented on #1
The filter doesn't need to transform data. It only needs to return false (didn't pass filter) or true (passed filter). This might work just fine by the looks.

[2017-01-28 08:28] muesli commented on #52
Fixed in master.

[2017-01-28 08:28] #52 closed

[2017-01-29 09:34] muesli commented on #66
Admin interface lives here now: https://github.com/muesli/beehive-admin

[2017-01-29 11:17] #64 closed

[2017-01-31 12:11] muesli opened #68 "Add more SlackBee events/actions"
Some inspiration: https://www.linkedin.com/pulse/building-slack-bot-golang-chris-ng

[2017-02-04 18:36] muesli opened #69 "Update documentation"
Update documentation to reflect recent API / config changes.

[2017-02-11 20:42] muesli opened #70 "Add url parameter to Twitter events"
```url``` should point to the canonical Twitter URL of the tweet.

[2017-02-11 21:26] selenium-tester opened #71 "Add running in a Docker container as an installation option"
It would be great to see this running in a Docker container as an alternative to having to setup an entire Go environment just to try it out.

[2017-02-12 12:41] muesli opened #73 "Unbreak Windows builds"
- [x] TwitterBee apparently breaks Windows builds due to problematic filenames in the anaconda repository
- [x] Don't build NotificationBee on Windows/OSX, as it currently only supports the freedesktop.org notification spec

[2017-02-12 12:43] itwars opened #74 "Cannot get nor build because of https://gopkg.in"
Following install steps into the wiki, when doing **go get**

[code]
In browser (on same computer) I reach https://gopkg.in/fatih/set.v0 without issue!

Some issues due to **gopkg.in** ... Any ideas ?

BR

[2017-02-12 12:46] muesli commented on #74
I've seen those errors sporadically (but luckily also temporarily) yesterday. I'd suggest trying again in a couple of minutes. Let me know if this problem persists for you, but I'm afraid there is not much we can do from our side, except for switching to a different import url.

[2017-02-12 12:48] itwars commented on #74
OK cool!

[2017-02-12 12:48] #74 closed

[2017-02-12 14:09] schoeke opened #75 "In Email bee: Hide password"
Currently in the Email bee, the SMTP password is shown as clear text in the form. It should be hidden/masked.

<img width="1178" alt="screenshot 2017-02-12 15 09 00" src="https://cloud.githubusercontent.com/assets/1077573/22862767/437aa0a6-f135-11e6-953c-e8319ab057a1.png">

[2017-02-12 14:19] schoeke opened #76 "Visual feedback about success when saving changes to a bee"
Currently, to see if a change to a bee was successful I check the command line logs. It would be very good to have a short visual notification on the website itself.

[2017-02-12 14:34] schoeke opened #77 "Make boolean form a dropdown menu (e.g. RSS feed bee)"
The "skip_first" value is supposed to be a boolean. However, the form on the website presented is a text field with no indication what the expected values are  (true, True, 1 etc.). The form should be replaced with a well-formed dropdown menu that allows to chose only valid answers.

One example for this wrong behavior is in the RSS feed bee, which is also used as the introductory example. It shou

[2017-02-12 16:26] GabrielAlacchi commented on #71
@muesli I could tackle this. Just to be sure however, only port 8181 actually needs to be exposed. Also which files need to be made persistent? Correct me if I'm wrong but the beehive.conf file is the only one from what I can see.

[2017-02-12 16:53] muesli commented on #71
I'd absolutely appreciate your help here!

Correct, port 8181 is currently the only exposed port (note that it's currently exposed on loopback only!), serving API and HTML/CSS/images.

beehive.conf is indeed the only file that needs to be made persistent. It stores the entire config, including all bee-options and chains.

[2017-02-12 16:53] muesli commented on #66
Done for v0.2

[2017-02-12 16:53] #66 closed

[2017-02-13 05:56] jamesbvaughan opened #81 "TwilioBee"
Bee that lets you send yourself SMS messages through Twilio.

Could possibly use one of these Twilio/Go libraries:
https://github.com/sfreiberg/gotwilio
https://github.com/carlosdp/twiliogo

[2017-02-13 05:57] jamesbvaughan commented on #81
I'm new to Go but would be down to work on adding this in the next week or two.

[2017-02-13 07:33] PenguWin commented on #20
Im about to work on it after I've finished the github bee which shouldn't take long for now.
Some code is already written for Instagram implementing following:
- Follow/Unfollow
- Like/Unlike
- Block/Unblock
- Approve user

After I don't use Instagram it could take me until next week to find the motivation to test the code ;)

[2017-02-13 09:52] muesli commented on #81
Great! Should you need any help, just let us know!

[2017-02-13 10:36] PenguWin commented on #9
Im currently working on a Github bee which is also including 'social' actions like (un)staring, (un)watching repositories.
I'll try to finish it as fast as possible.

[2017-02-13 12:59] itwars commented on #74
Here is the work around from Gustavo Niemeyer from gopkg :

*"Short story is that this is a change in the just-released git, there's a workaround via a configuration option in git itself, and there's an upcoming change in gopkg.in to avoid that setting."*

git config --global http.https://gopkg.in.followRedirects true

[2017-02-13 15:36] #71 closed

[2017-02-13 19:36] seblw commented on #70
hi, could you explain more what needs to be done here?

[2017-02-13 20:50] muesli commented on #70
Right now the twitter events usually contain the tweet/event's author and the content of the tweet. For many use-cases it would be nice to also get the url of the tweet on twitter.com - so you can link to it.

All that really needs be done is retrieving the URL from the API and passing it along with the event, like the other params.

[2017-02-13 21:08] seblw commented on #70
Ok, thanks, I'll work on it.

[2017-02-13 21:10] muesli commented on #70
Nice! Should you have more questions, don't hesitate to post them here - or join us on Gitter/IRC.

[2017-02-13 21:26] thompsoj opened #83 "Broken link on config page"
https://github.com/muesli/beehive/wiki/Configuration contains a link to https://github.com/muesli/beehive/tree/master/recipes which no longer exists.

Link text is "few chain recipes here".

[2017-02-13 21:28] muesli commented on #83
Thank you! Be careful, though: as the page states, it's currently outdated and describes the config format before we had some breaking changes for the API / web-interface!

I should hopefully find the time to fix that in the next couple days.

[2017-02-13 22:21] seblw commented on #70
#84

[2017-02-13 23:24] #70 closed

[2017-02-14 08:00] seblw commented on #30
I can start working on this.

[2017-02-14 08:03] grindhold opened #85 "Icinga2 Bee"
Should capture events from icinga2 monitoring systems

[2017-02-14 08:03] grindhold opened #86 "Phabricator Bee"
Should capture events and be able to trigger actions in phabricator

[2017-02-14 10:17] muesli commented on #30
@seblw: Since @glaxx has never had the time to start working on this, that would be great!

[2017-02-14 10:25] seblw commented on #30
@muesli ok, from what I've seen in pastebin api, posting snippets should be easy to implement, but reacting to stuff being posted on pastebin should be rather done using google bee ( #16)

[2017-02-14 10:29] muesli commented on #30
Reacting to pastebin updates isn't a top priority - even though I would try to solve it within the Pastebin Bee itself. Ideally _without_ polling the pastebin in intervals.

That said, I'd focus on adding a new pastebin and appending to an existing pastebin (if allowed by API).

[2017-02-14 15:06] henson opened #87 "Add a vendor file, pls"
Your work is great.
Can you add a vendor file to managed the dependencies with the govendor or godep tool. It will be easy for others to build your project.
Thank u!

[2017-02-14 15:22] muesli commented on #87
I must admit I'm not really convinced that the current vendoring strategy is a good idea. We could include it as a git-submodule, but I'm really not excited by polluting the git-tree in any other way. Then again, maybe I just haven't suffered enough from upstream API breakage.

[2017-02-14 17:29] muesli commented on #87
I've created https://github.com/muesli/beehive-vendor

There's currently a ```vendoring``` branch for Beehive, which contains this repo as a git submodule. Let me know if this works as intended, please.

[2017-02-15 02:01] henson commented on #87
Thank u, first.
Some of the dependencies could not be downloaded correctly here.
Now,  I can download the _beehive-vendor_ to build the same dependencies as yours easily.
Thank u again.

[2017-02-15 09:43] seblw opened #88 "More options to configure bee"
It would be great to have more flexibility when configuring bee from an admin panel, afaik right now there is only simple text field supported.
I think it's nice to have:
1. input type for passwords
2. check-box
2. drop-down menu

[2017-02-15 10:05] seblw commented on #88
just noticed connected issues #75  #77

[2017-02-15 11:07] seblw opened #89 "Weather Bee"
A bee that provides weather information for given location etc.
Might use e.g. https://github.com/briandowns/openweathermap

[2017-02-16 13:12] muesli commented on #88
Going to close this as a dupe. The other two tickets should already cover this. Thanks though!

[2017-02-16 13:12] #88 closed

[2017-02-17 00:38] smazurov commented on #9
would also love:

- pr events (new pr, closed, label, etc)
- pr actions (close, mark as reviewed [success,comment,decline], add label, assign)
- project actions (add card, move card from column to column)

[2017-02-17 02:25] henson opened #90 "Improve the mail bee"
Some of mail service providers do not support the original mail bee. The mail must has MIME type in its head, so I improve it and rewrite the action method, and it supports HTML text content:

[code]

[2017-02-17 03:05] jamesbvaughan commented on #81
Alright, I've added this in #91

[2017-02-17 11:59] muesli commented on #90
Thank you! I guess it'd best to switch to go-mail in that case, though, since it would give us a nicer API for both plain-text and HTML content. I'll look into that!

[2017-02-17 15:55] leometzger opened #93 "Bitcoin Bee"
A bee to react to changes of bitcoin price.

[2017-02-18 06:36] ad-m opened #95 "Configuration of hostname"
Hello,

I would like configure beehive on server. I setup domain, use reverse proxy, but there is still references to "http://localhost:8181". It ignore my custom domain, so the requests fail. I am unable to set up beehive on server due that (screen was empty).

Here is chromium log:
![zaznaczenie_0375](https://cloud.githubusercontent.com/assets/3618479/23091038/af77646c-f5ac-11e6-8755-589349429ca

[2017-02-18 10:51] ameliaikeda opened #96 "No 🐝 emoji in project description"
This is a travesty. 😱

[2017-02-18 12:16] muesli commented on #95
This is correct. As the README states, it will only listen on loopback until the admin interface and API got an authentication mechanism integrated. This is currently WiP and for security reasons the only currenrtly acceptable compromise.

You can always setup an SSH port forward on your machine in the meantime. Let me know if you need any help with that.

[2017-02-18 12:16] muesli commented on #96
There are no excuses, I'm not sure how I could have missed that ;)

[2017-02-18 13:20] toXel commented on #95
Would it be possible to at least make the port configurable? This would really help me because I want to run beehive on a shared host.

[2017-02-18 18:54] ad-m commented on #95
@muesli , I understand README. I understand security implication of publishing service without build-in authentication mechanism in Internet. I would like use reverse proxy to provide [authentication](https://httpd.apache.org/docs/2.4/howto/auth.html) and virtual hosts support. I don't have problem with listen on loopback, due using local proxy to publish service eg. https://www.digitalocean.com/c

[2017-02-18 19:04] muesli commented on #95
@toXel @ad-m Understood, I guess I'll work on making this configurable first then - even without the auth mechanism in place yet.

[2017-02-18 20:30] muesli commented on #96
Fixed!

[2017-02-18 20:30] #96 closed

[2017-02-18 20:54] toXel commented on #95
Thank you! I'm looking forward to it :) I already setup an instance on my
Raspberry Pi and configured some chains. This is awesome! This could
definitely replace IFTTT for me as soon as I can host it on a server.
Thanks for this awesome project :)

[2017-02-19 01:45] #95 closed

[2017-02-19 01:49] muesli commented on #95
You can now start Beehive like this:

./beehive -bind ":8181" -canonicalurl "http://beehive.myhost.com"

Let me know if this change solves your issues. We should also try and see how it behaves when the canonical URL contains a sub-directory, e.g: "http://myhost.com/beehive"

[2017-02-19 03:45] muesli opened #97 "GitLab Bee"
Bee triggering events & actions on GitLab.

[2017-02-19 03:59] #9 closed

[2017-02-19 04:02] muesli commented on #9
Kudos go to @PenguWin for bootstrapping the whole thing. I just finished it.

[2017-02-19 04:03] muesli commented on #9
@smazurov We covered the basic events & actions for now. I'd suggest opening separate tickets for further events & actions you would like to see. Thank you!

[2017-02-19 09:40] rubiojr commented on #9
:zap::zap::zap:

[2017-02-19 12:12] toXel commented on #95
Awesome! That's exactly what I needed :)

[2017-02-19 15:34] muesli commented on #81
Thanks James!

[2017-02-19 15:34] #81 closed

[2017-02-20 21:33] PenguWin commented on #20
There's still a problem to check the code after we don't have the right client permissions to check out the required services.
Anyway the code has been commited into my fork (1000289b4d00adf98ffaa0daacc8fbd53b57fa8b) but obviously not finished.

[2017-02-21 16:54] muesli commented on #15
Started working on this today.

[2017-02-21 19:34] muesli commented on #15
Done in master. Still rather limited (only provides one event & action each), but it's a start. Individual tickets for further events & actions from here on.

[2017-02-21 19:34] #15 closed

[2017-02-21 20:00] #30 closed

[2017-02-21 20:41] PenguWin commented on #89
I'm on it :)

[2017-02-22 08:24] seblw commented on #18
Since WP 4.7 we can use this https://developer.wordpress.org/rest-api/

[2017-02-22 08:25] seblw commented on #8
I'll take care of Linux part.

[2017-02-22 16:06] muesli commented on #73
Just a heads up: A few people reported it's compiling and running fine on Windows, in the meantime - not sure if the anaconda issue is an actual issue for us.

[2017-02-22 18:22] muesli opened #103 "Split WebBee into client and server parts"
Right now you have to setup a server to use the client actions.

[2017-02-24 20:39] #103 closed

[2017-02-25 19:19] Larpon opened #104 "Shell command bee"
So you can run scripts and get an event when a command finishes and with what exit code - also with a grab of the output (stderr/stdout)

[2017-02-25 19:23] dschmidt commented on #104
Check execbee :)

[2017-02-25 19:25] #104 closed

[2017-02-25 19:25] muesli commented on #104
As @dschmidt mentioned, this already exists.

[2017-02-25 20:04] Larpon commented on #104
Ah yes. My bad

[2017-02-25 21:20] seblw opened #105 "Admin panel authentication"
There are several things to be discussed regarding admin panel authentication. A list of a few below:
- do we only specify an admin password in the config or via a cli-arg?
- do we want to create user accounts?
- do they then have different permissions?
- where do we store accounts?
- one config file per user?

Feedback and ideas from beehive users are highly appreciated. :)

[2017-02-25 22:52] penguwin opened #106 "Gitter Bee"
Bee triggering events & actions on Gitter.im

[2017-02-26 20:01] ankitm123 commented on #93
If no ones working on it, I will jump on it and see if I can help. Sounds interesting to me!

[2017-02-26 20:07] muesli commented on #93
Nobody's working on that Bee currently. Go ahead! 👍

[2017-02-26 23:08] danielepolencic opened #107 "Web pages updates"
Is it possibile to have a Bee that works in a similar way to the RSS bee but for HTML pages?

I'd like to receive updates when a particular search result appears on a web page. However the website I'm interested in doesn't offer any RSS functionality.

Ideally, I would be able to select the HTML bee, extract all the results (perhaps with xpath or css selectors), diff the current elements with the

[2017-02-26 23:27] muesli commented on #107
That's absolutely feasible and a feature I'd like to support, even though the Bee for it doesn't exist yet.

[2017-02-26 23:28] muesli commented on #107
Thinking about it, this could be a feature/event of the HTMLExtractBee.

[2017-02-27 07:32] muesli commented on #73
Fixed in master. I fixed the anaconda issues in a fork of that repo.

[2017-02-27 07:32] #73 closed

[2017-03-03 09:12] momo-aux opened #112 "beehive crash if connecting to already connected IRC"
[code]
My uberspace is already connected to freenet with ZNC, If I connect the bee to ZNC it works. If I connect the bee to irc.freenode.net:6697 it crashes. ZNC uses irc.freenode.net:+6697 for the connection.

[2017-03-03 09:18] momo-aux opened #113 "Changing a Bee's config option of type array causes a panic"
[code]

config:

[code]

[2017-03-08 10:31] muesli commented on #90
Done in master.

[2017-03-08 10:31] #90 closed

[2017-03-08 10:32] momo-aux commented on #44
what about:
https://github.com/layeh/gumble
https://godoc.org/layeh.com/gumble/gumble

[2017-03-08 10:34] muesli commented on #44
Yeah, I'd prefer gumble, as it looks like it's actively maintained and much more complete.

[2017-03-12 16:17] alexellis opened #117 "Proposal: Dockerfile"
Hi guys,

I'd like to add a Dockerfile for this project to help make this project easier to setup and package. Russell Davis on Twitter has built an image for the Raspberry Pi - so I'd add two Dockerfiles.

https://twitter.com/ukscone/status/840958904653758465

Let me know if you'd merge this change and I'll raise a Pull Request 👍

Alex

[2017-03-12 16:25] alexellis commented on #117
Update: I'd suggest moving the Dockerfile from the docker subdirectory to the root of the project as this is what most projects do and is the least surprising thing to do. It would still be good to add the Dockerfile.armhf for the Raspberry Pi that Russell has tested.

[2017-03-12 16:25] ukscone opened #118 "had to add --net=host to the docker run command on raspberry pi to get access to admin page"
I'll readily admit that i'm a complete noob at go & docker and my setup is a tiny bit weird (headless pi, ssh in for compiling/running stuff & vnc when want to use X/browser) but I spent days trying to get a dockerized beehive to let me get to the admin page when running on a raspberry pi & in the end asked for some help. It would always refuse connection from a browser running on the pi until i a

[2017-03-12 16:31] alexellis opened #119 "Provided Dockerfile doesn't work with Docker for Mac"
**What I expected:**

Beehive on http://localhost:8181 using Docker for Mac 17.03.0-ce.

**What I tried:**

Building with docker/Dockerfile - running with `-p 8181:8181` with or without or `--net=host`.

I suspect this may be something to do with some code binding only to "localhost" ?

Do you guys only test the Dockerfile on a Linux host?

Cheers,

Alex

[2017-03-12 16:35] Joshfindit commented on #118
Note for future solvers of this issue: `--net=host` does not currently work on OSX

[2017-03-12 18:05] Joshfindit commented on #119
Note for whomever works to resolve this: `--net=host` does not work on OSX ( https://github.com/docker/for-mac/issues/155#issuecomment-285715320 )

[2017-03-12 20:10] muesli commented on #119
You can try binding it to other interfaces / addresses: ```./beehive -bind ":8181"```

[2017-03-12 22:25] muesli commented on #44
Done in master.

[2017-03-12 22:25] #44 closed

[2017-03-13 01:29] Profpatsch opened #120 "Malformed config causes beehive to overwrite it on shutdown"
[code]

![oh no](https://cloud.githubusercontent.com/assets/3153638/23838354/21db3e80-0795-11e7-8c51-f68cda7c4d52.png)

[2017-03-13 01:47] #120 closed

[2017-03-13 09:26] grindhold commented on #44
10/10. top githubber. would do business again with.

[2017-03-16 21:16] ukscone commented on #118
i've been messing with beehive on and off over the last few days & found the magic incantation to get it to work how i'd prefer (i trust the others on my LAN, well I mostly trust my wife & son i'm not sure about the cats) so am not bothered about security at the moment and can access the admin page from any computer on my LAN.

running it with the docker command

docker run --name beehive -d --net

[2017-03-16 21:55] muesli commented on #118
Actually ```-canonicalurl http://:8181``` will cause issues. Use the URL you would enter in your browser to reach the admin interface here.

[2017-03-16 21:59] ukscone commented on #118
darn <>'s in my c&p removed the ip address i had inbetween them. it did say http://192.168.0.241:8181

[2017-03-20 15:57] ukscone opened #122 "Having problems with cronbee"
This is almost certainly me being a doofus but i'm having problems with cronbee filter to work.

i've tried pretty much all I can think of (not knowing go well/at all) but all I ever get is errors in the logs of similar to below.

time="2017-03-20T15:48:59Z" level=info msg="Event received: Cronbee / time - The time has come ..."
time="2017-03-20T15:48:59Z" level=info msg="    Options: {timestamp s

[2017-03-20 16:02] muesli commented on #122
Are you sure you actually need to filter the event here?

Two things to note:
1. The ```timestamp``` parameter that CronBee emits, is actually the timestamp of the _next_ event that CronBee will get triggered at. That might not be what you expect.
2. You indeed uncovered a bug in the Bee. It currently emits a timestamp, not a string value as documented. I will fix this. _Once_ I did, your filter i

[2017-03-20 16:08] ukscone commented on #122
i'm not actually sure i did need a filter but while still exploring I was just filling in any blank field I see on the chain page.  I did try enclosing in quotation marks but had the same error and the log lines were just the ones at the end after lots of attempts.

and thanks for fixing

[2017-03-20 16:17] muesli commented on #122
As mentioned I still need to fix this first for this filter (with quotation marks) to work. I'll nudge you here when I've pushed the fix.

[2017-03-23 16:16] PedroMD opened #125 "Can't access admin UI after building new docker image"
Hello all!

I've just built a new Docker image (latest one does not support twilio bee), but now I can't access the UI. Why is that? I'm inside the container and I can see the latest build for it, inside the config folder (on the repo path).

I think I must start beehive from the repo path, but, if I do that, I loose its ability to catch signals from the docker stop command, right (as commented in

[2017-03-23 16:59] PedroMD commented on #75
The problem is that the whole "database" is stored under one .json only, where passwords/secrets are stored also in clear text. I think this should move to a proper DB with cyphered fields...

[2017-03-23 17:39] PedroMD commented on #125
I've uploading the locally (OS X) build image to a private registry of mine so I could try to run it on a Linux machine, but I'm having the exact same problem. Is #119 really OS X related only?

[2017-03-24 15:59] PedroMD opened #126 "(webbee) Possibility to create > 1 path on the same :port ?"
Hello all!

Currently, it is not possible to create 1 bee on an already existing port when the path is a new one. I do think this is a major issue, as it is not easy to scale... What do you think?

Pedro

[2017-03-24 16:12] muesli commented on #126
I assume you're using the latest release 0.2? In git (and the upcoming 0.3), the webbee behavior has already changed:

You now simply configure webbee to listen on an address and it will emit events for all incoming requests, which in turn now include the path as a parameter.

Does that help you?

[2017-03-24 16:13] muesli commented on #125
Could this be a firewall issue? I've tested the docker setup locally and it seems to work fine.

[2017-03-24 16:20] muesli commented on #117
Yeah, I would certainly approve that PR. I'm in favor of keeping the Dockerfile in a separate directory though. There's also a PR for snappy and I have the feeling we're only seeing support for more of those build/virt/sandbox systems in the long term. I'd rather have them live happily next to each other in a sub-dir than pollute a project's root-dir.

[2017-03-24 16:24] alexellis commented on #117
Docker does not work that way, it has to be in the root of the "context" i.e. the project. It is also a clear indicator that the project has a Dockerfile. I'm a Docker Captain and I completely missed it.

For best practice, there should be a `COPY .` instruction to copy code into the container before initiating the build rather than a `git clone`.

[2017-03-28 16:40] PedroMD commented on #126
Thank you @muesli and sorry for the late response.

I've tried beehive using the latest provided docker image, but I've then realized the image has not been updated. I will try to run the latest as it sounds like it is now working as originally expected.

[2017-03-28 16:42] PedroMD commented on #125
Don't believe so, as the original works fine and all other docker images running on the same port... Maybe there is something missing on the dockerfile which we need to make it run properly. Can you share how you build yours? The one on dockerhub works fine, so should this locally build ones, as the only difference is the source code.

[2017-03-30 23:56] muesli opened #128 "Travis CI Bee"
A Bee for https://travis-ci.org/

See: https://github.com/Ableton/go-travis

[2017-04-05 13:52] GabrielAlacchi commented on #119
Hey sorry I'm late to the party. I'd love to help! Do you think you could perhaps provide output of running `docker inspect $container_name/id$`. It could possibly provide insight. It is likely that having beehive bind to "0.0.0.0" in the container might solve the issue. In my experience on Ubuntu binding to localhost in the container works fine but I could be wrong.

[2017-04-05 15:20] #119 closed

[2017-04-05 15:20] #125 closed

[2017-04-05 19:05] GabrielAlacchi commented on #118
This should be resolved with pull request #131. Would be nice if @ukscone could confirm that it is in fact fixed. I added -bind ":8181" to the ENTRYPOINT command, which should expose the port to the host network without required --net parameter.

[2017-04-05 20:16] ukscone commented on #118
my main beehive is now a PiZeroW without using Docker but will fire up the Docker Pi and report back shortly.

P.S. Beehive on a PiZero works really well for an apiary in your pocket :)

[2017-04-05 20:58] ukscone commented on #118
Yes it works as expected on a Pi2

[2017-04-05 21:02] ukscone commented on #118
yes it works without the --net=host and as expected and as documented on a Pi2 using Docker

[2017-04-05 21:05] GabrielAlacchi commented on #118
Perfect thanks for confirming!

[2017-04-06 12:02] #118 closed

[2017-04-06 12:14] muesli commented on #126
@PedroMD Any update on that one?

[2017-04-06 13:15] PedroMD commented on #126
Not yet as I had to pause this. Will try it again tomorrow, maybe...

[2017-04-06 14:45] PedroMD commented on #126
Just tested it and it is working fine fine fine 👍

[2017-04-06 14:48] PedroMD opened #132 "Chain's name must not include special character?"
Just noticed that while the API accepted a chain event with a `/` on its name, it failed to process it when a matching event occurred. It does not let me delete it either...

Happened when using the provided GUI. Had to stop it and manually remove it from the .conf.

[2017-04-06 16:11] muesli commented on #126
Thanks for confirming!

[2017-04-06 16:11] #126 closed

[2017-04-07 14:56] PedroMD opened #133 "Whenever a filter verification crashes, beehive does not process any further chain"
Well, I think the title is self-explanatory :)
LMK if you need more info...

[2017-04-10 09:17] penguwin opened #136 "devRant Bee"
Thinking about adding a devRant bee after we've merged a working Openweathermapbee and Gitterbee into beehive :)

Consider the following: https://godoc.org/github.com/jayeshsolanki93/devgorant

[2017-04-13 07:40] momo-aux opened #138 "Add a Bee for Google Hangouts"
This could be usefull:
https://github.com/tdryer/hangups

:-)

[2017-04-13 07:43] momo-aux opened #139 "Add possibility to hide Hives in admin overview"
Maybe just a litte config page that shows all hives and has a checkbox (Show) for every hive. So some can be removed from the startpage if user does not need them.

[2017-04-13 07:44] momo-aux opened #140 "feature: Add changing of chains"
Add the changing of chains to the admin interface.
So that no drop and recreate is needed.

[2017-04-13 07:53] momo-aux opened #141 "feature: Seafile hive"
Add a hive for seafile

Should have events for filechanges and messages.
Should have actions to send message, move files and create/send download link

[2017-04-17 02:42] muesli opened #144 "Prometheus Hive"
A PrometheusHive could be used to let Beehive events expose data to Prometheus.

[2017-04-17 16:23] penguwin commented on #106
Added this bee in https://github.com/muesli/beehive/pull/127

[2017-04-17 16:23] #106 closed

[2017-04-17 16:24] penguwin commented on #136
DevRantbee added and merged with https://github.com/muesli/beehive/pull/143

[2017-04-17 16:24] #136 closed

[2017-04-20 20:29] glaxx opened #146 "Merchandise?"
A beehive pillow would be
![neat.](https://s-media-cache-ak0.pinimg.com/originals/50/e2/e3/50e2e38aacdab21b14cad92d32d7c865.jpg)

[2017-04-23 23:38] glaxx opened #149 "Mastodon/GNUSocial Bee"

[2017-05-14 03:20] muesli commented on #87
Fixed in master.

[2017-05-14 03:20] #87 closed

[2017-05-15 01:29] #133 closed

[2017-05-15 01:45] #113 closed

[2017-06-12 03:58] tim-d opened #154 "Email hive doesn't work with SMTP username that is not an email address"
When attempting to use a username that doesn't match exampleuser@domain.com, the following exception occurs:

"Fatal chain event: gomail: could not send email 1: gomail: invalid address "exampleuser": mail: missing phrase"

I am guessing this is because the application tries to use the given username as the envelope sender.

It would be nice if the envelope sender field could be entered separately

[2017-06-20 01:31] JZHeadley opened #156 "Broken Webserver?"
I've tried to build and run the code but I can't seem to get to a working webserver.  Whenever I run the built beehive executable and navigate to the webpage, I get the following errors:

 OPTIONS http://localhost:8181/v1/hives net::ERR_CONNECTION_REFUSED
Error while processing route: hives.all The adapter operation was aborted Error
The adapter operation was aborted

I've tried to make it work wi

[2017-06-20 02:15] muesli commented on #156
Maybe your localhost resolves to an IPv6 address only? Try http://127.0.0.1:8181/ instead.

[2017-06-20 12:01] JZHeadley commented on #156
Its a headless server so that was a bit difficult to try but I connected with firefox through X over ssh and still nothing.

[2017-06-20 12:13] muesli commented on #156
That sounds a bit over-complicated ;-) Why don't you just expose Beehive's web interface via a reverse proxy (e.g. nginx)? Or run an SSH-tunnel to the headless server?

[2017-06-20 15:25] muesli commented on #156
You can also expose the web interface publicly by binding it to a different address. See the command line args `-bind` and `-canonicalurl`.

[2017-06-20 17:59] JZHeadley commented on #156
Command run:  ./beehive -bind "192.168.8.116:8181"
[Output after trying to connect](https://gist.github.com/JZHeadley/f732d6dd7f7159ca12a045b92bf464f6)

Still get the same errors as above.

[2017-06-20 19:29] muesli commented on #156
Well, certainly looks like Beehive is behaving fine and responding to requests. This must be a local issue, sorry. I'd probably investigate your firewall.

[2017-06-20 23:00] muesli commented on #156
Note that I'm of course happy to still help you debug this further, but from what I can tell by the logs, this issue really is out of Beehive's domain.

[2017-07-02 17:27] penguwin opened #161 "Cleverbot bee"
Bee chatting with [cleverbot](https://www.cleverbot.com)

[2017-07-02 20:13] penguwin commented on #161
See https://github.com/muesli/beehive/pull/162

[2017-07-03 21:17] penguwin commented on #161
Merged :)

[2017-07-03 21:17] #161 closed

[2017-07-04 12:36] #154 closed

[2017-07-04 15:05] penguwin opened #164 "Cleverbotbee: Bad call to the API"
After sending a message to cleverbot we receive a "Bad Call to the API" error.
I'll try to fix it asap.

[2017-07-05 16:54] penguwin commented on #164
Seems to work now. Someone please confirm cc @muesli

[2017-07-06 20:59] penguwin opened #165 "Paypalbee"
Paypal hive for beehive
Consider [this](https://github.com/logpacker/PayPal-Go-SDK)

[2017-07-07 21:40] penguwin commented on #164
Talked with @muesli. closed

[2017-07-07 21:40] #164 closed

[2017-07-20 02:26] erguotou520 commented on #95
How to setup the environment variable for docker? `canonicalurl `? `beehive_canonicalurl `?

[2017-08-16 17:18] alymohamedhassan opened #168 "I can't actually get the idea of this application"
I was wondering how can I send a notification with python to any smartphone on my network.

I was on another thread but they provided me this link.

Thanks

[2017-08-17 13:54] muesli commented on #168
Which thread led you here?

Beehive isn't a Python tool, but a standalone solution/service, which lets you hook up all kinds of events with all other kinds of actions. I'd suggest reading the README and watching the little intro videos linked in there. There's also a bit on info in the wiki here.

The `alertover`, `pushover` and `simplepush` bees let you send notifications to your mobile.

Happy t

[2017-08-17 13:54] #168 closed

[2017-08-30 15:12] PedroMD opened #169 "Do not stop processing further chains if errors occur"
Hi again!

Thanks for fixing  https://github.com/muesli/beehive/issues/133 . Much like this previous one, beehive also stops processing chains whenever an error has occurred on previous filters or chains.

Keep it up 👍

[2017-08-30 18:36] Jurc2000 opened #170 "Creation of Bees fails"
I installed beehive via

[code]

The creation of new bees fails for every hive. This is the error when creating a new 'Execute Command' bee:

[code]

[2017-08-30 19:47] muesli commented on #170
Thanks, I've just noticed my mistake, too. Fixing as we speak.

[2017-09-05 00:20] #170 closed

[2017-10-04 22:05] gedw99 opened #172 "Powerless and wireless light switxhes"
Anyone know of any that have a controlller. If the light switch talks some exotic radio protocol to the controller I can then write an API for the controller and thus control Philips hue or the new ones lights.

I am an architect and trying to get a solution so I can use those light switches that are literally stuck on the wall and use kinetic energy to make a radio call when you press them..all t

[2017-11-23 16:50] Dr-Terrible opened #175 "fatal error: runtime: out of memory"
When manually installing the git HEAD I got an OOM error after the command `make build` consumed around 5GB of my memory (I have 4GB of RAM only):

[code]

How is possible that beehive's source code needs so much memory during compilation? I can easily compile packages that are way way more complex and bigger than beehive, such as JuJu or Docker. And they don't consume so much RAM, even when I'm r

[2017-11-28 17:04] huangwc94 opened #176 "Add Python Action"
Hi, This is a fantastic go project!
Just curious if we can get a python action that can execute customize python code, this will extends the project with much much more functionalities that suit a wide range of user.
Also, other scripting language is useful as well.

[2017-12-03 09:09] vpontin commented on #15
Are the facebook bee working to post on pages?

[2017-12-05 23:43] vpontin opened #178 "Facebook Graph API"
Hi! I didnt see this on the agent list on wiki. Does beehive have any support for Facebook API?
Since both [django-th](https://github.com/foxmask/django-th/issues/52) and [huginn](https://github.com/huginn/huginn/issues/316) are having a hard time implementing this (in fact django-th dev is completely indifferent about this) maybe that could be a very differentiated feature, perharps the only one

[2017-12-19 10:43] leopku commented on #95
@erguotou520 I just had modified Dockerfile for add support for CANNICAL_URL env.
A pr was submitted.
You also can move to https://github.com/leopku/beehive to using it before the pr was accepted.

[2017-12-23 18:44] alkuzad commented on #176
yeah this is something I came here looking for alternatives to big old Huginn
@muesli is this project still accepting PRs or is it abandoned ?

[2017-12-23 18:51] muesli commented on #176
@alkuzad: Active and accepting PRs.

[2018-01-25 22:29] penguwin commented on #89
Merged in master

[2018-01-25 22:29] #89 closed

[2018-01-26 06:51] sabhiram commented on #176
How about just using the `execbee` to run `python`? I would have called it `shelbee` for the lulz, but awesome project!

[2018-01-31 13:48] WangQiru commented on #156
@muesli  I'm running into this very same issue.

Chrome console produces the same error

[code]

And Beehive container seems to be fine
[code]

@JZHeadley were you able to solve it?

[2018-01-31 13:59] muesli commented on #175
You could disable a bunch of hives in hives.go (simply comment them out with a leading `//`). We'll start providing binaries with the next release, if that's an acceptable solution for you.

[2018-01-31 14:01] muesli commented on #156
@WangQiru: It seems to serve something. What address do you enter in your browser to access Beehive? What cli-args do you start Beehive with?

[2018-01-31 14:03] muesli commented on #175
That being said, I can compile Beehive just fine on a Raspberry Pi (ARM) with 1GB of RAM, as well as on an APU (x86_64) with 2GB.

[2018-01-31 14:09] WangQiru commented on #156
@muesli I spun up a [test instance](ip.wangqiru.com) via docker, so it should be

[code]

I also tried https://github.com/muesli/beehive/pull/179 (CANONICAL_URL env parameter) but it gives the same error.

[2018-01-31 14:24] muesli commented on #156
@WangQiru: Two things I'd try in that case:

1. Access Beehive with `http://127.0.0.1:8181` - see my first comment in this thread.

or

2. Add an extra parameter to the Dockerfile: `"-canonicalurl", "http://your_host_ip:8181"`. Replace `your_host_ip` with the IP of the machine hosting the docker container. Now try to access the admin interface with `http://your_host_ip:8181` in your browser, too.

[2018-01-31 14:56] WangQiru commented on #156
@muesli The access is via a Nginx reverse proxy.

curl to both server ip and domain return the same result.

 `-canonicalurl` did not solve the issue.

[2018-01-31 15:18] WangQiru commented on #156
@muesli Went through Chrome Network I found the request to `/v1/hives` is being sent to `<canonicalurl>/<canonicalurl>/v1/hives` instead of `<canonicalurl>/v1/hives`. So setting `"-canonicalurl", "/"`  solved the issue.

This looks like a bug to me.

[2018-01-31 17:01] muesli commented on #156
@WangQiru That would definitely be a bug, yes. It's a bit odd, because I can't reproduce it without docker, but it sounds like the canonicalurl default gets overwritten with an empty string somehow. I'll come up with a fix.

Thanks for reporting & investigating the cause!

[2018-01-31 17:17] WangQiru commented on #156
Using docker, I also noticed that beehive doesn’t write into beehive.conf, which means any bees created will not be saved, a browser tab refresh will clear everything. It’s probably just a permission issue.

[2018-01-31 20:53] HenryQW opened #180 "dockerized Beehive doesn't write into beehive.conf"
Creating bees in Beehive container doesn't write the conf into beehive.conf, therefore `/v1/bees` will always return an empty json of `{"bees":[]}`

This causes redirection to a blank page with console error when user has:

1. Clicked "Create Bee" on any creation page
2. Clicked any Bee on `chains/new/pickbee` page

<img width="476" alt="screen shot 2018-01-31 at 20 49 52" src="https://user-images

[2018-02-21 00:07] sunjam opened #183 "Request: Nextcloud integration for Beehive"
Please consider adding support for [Nextcloud,](https://github.com/nextcloud) an open source platform that provides a [large community alternative to the proprietary Google suite and Dropbox.](https://nextcloud.com/)

[2018-02-24 19:33] vpontin commented on #178
I think my main interests are to post on my page (and perharps retrive public posts from other pages or groups)

[2018-03-01 12:25] momo-aux commented on #141
Seafile web api can be used.
https://manual.seafile.com/develop/web_api.html#api-basics

[2018-04-01 10:14] AllenDang opened #186 "Build failed on MacOS"
I followed the instruction, run:
make get-deps
make

and here is the error message:
..
go build -tags 'embed' -ldflags '-s -w -X main.Version=0.2.99 -X main.CommitSHA=d94ac35'
# beehive/vendor/github.com/muesli/beehive/api
vendor/github.com/muesli/beehive/api/api.go:71:12: undefined: Asset
vendor/github.com/muesli/beehive/api/api.go:74:12: undefined: Asset
make: *** [build] Error 2

[2018-04-03 11:07] Dr-Terrible commented on #175
Hi @muesli,
I am sorry to have kept you waiting for so long for an answer.
The culprit for the reported issue turned out to be `go-bindata`, for the reasons I explained in this bug report: Dr-Terrible/go-overlay#76

TL;DR: the original `github.com/jteeuwen/go-bindata` package doesn't play very well with recent Go toolchains (v1.10+); some Linux distributions, like Gentoo and Arch, decided to packa

[2018-04-05 01:30] penguwin opened #187 "Add Github Topics"
Would be nice to make use of the github topics thingy in beehives description. Can be done by @muesli :wink:

[2018-04-08 23:43] deranjer commented on #186
I'm pretty sure it has something to do with their use of go-bindata.

[2018-04-09 09:46] muesli commented on #186
I'm afraid I can't reproduce this. Did you try wiping your `vendor` folder entirely and running `make get-deps` again?

Fwiw, we will switch to a different library for embedding binary data, so if it's indeed related to go-bindata, there's a solution on the horizon.

[2018-04-12 10:24] leopku opened #188 "Support HTTP headers in HTTPBee"
Many case of http request need special headers.
Is it possible to add support for headers for httpbee?
Thanks a lot.

[2018-04-15 20:33] dgrr opened #189 "Implement HTTP basic auth"

[2018-04-20 12:57] persidskiy commented on #189
Do you guys have such plans? I would like to install it in my private network and share with colleagues.

[2018-04-20 13:08] muesli commented on #189
It should be fairly easy to integrate and I'm not opposed to it. I do recommend a simple nginx/apache/caddy reverse proxy with HTTPS around it, though.

[2018-04-20 13:08] muesli commented on #188
Agreed, we should add that.

[2018-04-28 05:53] muesli commented on #186
@AllenDang @nakata0705 @deranjer Are you trying to build master or v0.2?

[2018-04-28 06:13] muesli commented on #186
Could you also check if make correctly executes the command before `go build`?

Should look like
[code]

Does `api/bindata.go` exist afterwards?

[2018-04-30 00:21] DanielHeath opened #190 "Storing which messages have already been seen"
Could the RSS bee (and potentially others) have a way to keep track of which messages they have already seen (to avoid taking downstream actions multiple times)?

It looks like currently when you restart beehive, every RSS message is processed as if it were new.

[2018-05-13 20:30] muesli opened #191 "Creating empty filters should be rejected"
Empty filters are invalid and should be rejected.

[2018-05-22 18:25] BlackLotus commented on #186
I can reproduce this on two of my systems (both Arch Linux)

doesn't produce any output. Don't know if this is expected behaviour. If there is something I can do to help debug this issue I will

[2018-05-22 18:31] muesli commented on #186
@BlackLotus It's not supposed to output anything (to the terminal), but it should create the file api/bindata.go for you. Can you verify that exists?

[2018-05-22 18:54] BlackLotus commented on #186
Yup it exists here is the whole file https://gist.github.com/3d675d12cf5b7d88298ce9de687eb655

[2018-05-22 18:58] muesli commented on #186
@BlackLotus That looks fine. What issue/error are you facing?

[2018-05-22 19:05] BlackLotus commented on #186
The same error as the original poster
[code]

[2018-05-22 19:09] muesli commented on #186
It looks like `dep` vendored beehive itself in `vendor/github.com/muesli/beehive`. That would probably indicate that you're not building Beehive within the designated GOPATH.

Which Go version are you using?
What is your $GOPATH set to?

[2018-05-22 19:14] BlackLotus commented on #186
GOPATH is set to ~thomas/go go version 1.10.2.

[2018-05-22 19:17] muesli commented on #186
Ok, in that case I would recommend to:

1. Delete your existing `beehive` directory, or at the very least the `vendor` folder inside it.
2. Start with a fresh: `go get github.com/muesli/beehive`
3. cd "$GOPATH/src/github.com/muesli/beehive"
4. make get-deps
5. make

After step 2 you should already have a working beehive binary in your $GOPATH/bin. But to embed the admin interface and extra resourc

[2018-05-22 19:23] BlackLotus commented on #186
Could be that the broken vendor folder somehow came through one of my "workarounds"?  Up until now the way I bould beehive was through
[code]
Anyway thank you this worked for me and I was able to build beehive without any problems.

[2018-06-09 23:47] #149 closed

[2018-07-03 20:34] LennyPenny commented on #156
I'm still experiencing the problems outlined here - shouldn't #179 be merged?

[2018-08-16 08:32] Sennahoi opened #194 "Chains of multiple actions"
I would like to create a chain of multiple actions, e.g.

1. receive data from a webhook (webserver)
2. Put this data into a script that extracts some parts
3. Forward extracted parts to the a web client bee to send it to some endpoint

As far as it seems to me, a chain can only consist of 2 parts: An event bee and an action bee.
Can I put other beens in between? Or is there another way I'm not aw

[2018-08-20 21:28] greenaar opened #195 "Build failure on HEAD"
When building via docker against HEAD:

# github.com/Profpatsch/GoOse
src/github.com/Profpatsch/GoOse/extractor.go:264:17: not enough arguments in call to set.New
        have ()
        want (set.SetType)
src/github.com/Profpatsch/GoOse/extractor.go:282:2: cannot use tags (type set.Interface) as type *set.Set in return argument: need type assertion
src/github.com/Profpatsch/GoOse/extractor.go:298

[2018-08-23 16:45] David-Lor opened #196 "Dockerized Beehive -> blank webpage"
Whenever I enter Beehive Webui, just a blank webpage is returned:
![image](https://user-images.githubusercontent.com/17401854/44539525-ad0fc600-a704-11e8-8c98-b48b9620d8af.png)
Here's the log:
`time="2018-08-23T16:41:34Z" level=info msg="Registering Resource" Resource=HiveResource ,
time="2018-08-23T16:41:34Z" level=info msg="Registering Resource" Resource=BeeResource ,
time="2018-08-23T16:41:34Z"

[2018-08-31 13:27] muesli commented on #196
Please use the "-canonicalurl" and "-bind" parameters if you want to reach Beehive from a host other than localhost.

[2018-09-09 07:38] dendiz commented on #196
I faced the same issue and didn't want to setup a golang build environment. The problem is that the request to load javascript are made to localhost, which is different than the server you have beehive running on. As a workaround what I did was forward 8181 on localhost to the server I had beehive.

for windows it's:
<code>
netsh interface portproxy add v4tov4 listenport=8181 listenaddress=localho

[2018-09-16 19:31] mannp commented on #195
Had the same issue trying to get beehive going with docker.

Was just trying to copy my sia go docker to get it working, but will wait until you have chance to update the official docker.

[2018-10-05 10:05] Larpon opened #198 "Using " or ' with "Execute command" bee"
I'm trying to run a custom script with a bee from the `Execute command` hive via a `Cron` bee.

I'm trying to pass {{.timestamp}} as a parameter to the script.
But the script only get the first part of the date up until the space. I've tried to escape the `"` with no luck.

`/path/to/script "{{.timestamp}}"`
My script echoes argument `$1` to file in `/tmp/`
Contents are: `"2018-10-05` ???

How do

[2018-10-05 10:10] Larpon commented on #194
Also useful when wanting to notify of some action is done

1. `Cron` Every 2 minutes
2. `Execute command` `/do/hard/work`
3. `Desktop notification` - `Job resulted in {{.stdout}}`

[2018-10-10 14:50] Horrendus commented on #25
Probably best to use the Google Go API Client: https://github.com/googleapis/google-api-go-client/tree/master/youtube/v3

[2018-10-18 17:56] dgrr commented on #20
You can use github.com/ahmdrz/goinsta

[2018-10-18 18:08] dgrr opened #201 "Actions which executes once"
Hello,

I was thinking about action which is execute once when event fires.
I am doing Bitcoin (and another cryptos) bee and I want to implement an action (buy or sell) which fires when event (BTC price reach X).
The problem is that you cannot make a Golang template with something like `{{ reach once }}`. In other case the implemented filter in the Chain will be `{{test gt .price 8000}}`.
So at th

[2018-10-18 18:12] dgrr commented on #93
I am doing a [Kucoin](https://kucoin.com) bee but I need https://github.com/muesli/beehive/issues/201

[2018-10-18 18:46] dgrr commented on #189
Related with https://github.com/muesli/beehive/issues/105

[2018-10-21 10:27] yulahuyed opened #202 "Compile Error"
version: go1.11.1

`go get -u github.com/muesli/beehive`

[code]

[2018-10-21 10:38] muesli commented on #202
Please follow the current install instructions from the README. You'll still require dep, then you can do:

[code]

We'll switch to go modules in the near future.

[2018-10-21 10:38] #202 closed

[2018-10-21 12:38] revil-O commented on #196
i use beehive in a docker container on my synology nas. at creation of new container in settings -> environment is a cmd option below 'entry-point' : simply put in the following code:

-canonicalurl http://<your url here>:8181

an start the container. in a browser navigate to <your url here>:8181 and everything works like a charme.

Regards revil.O

[2018-10-21 16:22] LorenzoAncora opened #204 "make get-deps: No versions of github.com/google/go-github met constraints"
Installation of the latest version fails with this error:

$ make get-deps

Solving failure: No versions of github.com/google/go-github met constraints:
        v15.0.0: Could not introduce github.com/google/go-github@v15.0.0, as its subpackage github.com/google/go-github/v18/github is missing. (Package is required by (root).)
        v18.2.0: Could not introduce github.com/google/go-github@v18.2.

[2018-10-21 17:01] Coksnuss opened #205 "Improve Dockerfile"
I found this repository today and wanted to try beehive. Unfortunately the Dockerfile seems broken as the `go get` command fails. I then tried the image that is hosted on Docker Hub and found that it is over two years old and contains an old binary of beehive.

Because of that I created my own Dockerfile for beehive. It uses the Docker multi-stage build feature and results in a MUCH smaller image

[2018-10-23 04:28] Skrylar commented on #28
Does this include some of the statistical filters a la Huginn? Examples:

- Stores the last value and outputs the relative change of value
- Stores a window of values and outputs events if something falls outside N deviations
- Accumulates entries then empties in to a template when manually triggered (used for digests; events accumulate and then get dispatched in single big e-mails)

Or do those t

[2018-10-25 13:32] HenryQW commented on #205
LGTM, the Dockerfile is indeed out-dated and I haven't got time to update it, please PR this!

[2018-10-27 15:35] Coksnuss commented on #205
Good point but it refuses to run if i use `scratch`:

Furthermore it wouldn't contain the `ca-certificates` package which is important for crawling RSS feeds over HTTPS. Otherwise fetching would fail with

[2018-11-03 11:12] LorenzoAncora commented on #204
@muesli
Is this an unsolvable problem? :-)

[2018-11-03 11:28] muesli commented on #204
@LorenzoAncora Do a `git submodule update --init` in beehive's directory. That should pull in all the vendored sources from the repository `beehive-vendor`.

We'll switch from `dep` to go modules in the near future.

[2018-11-03 18:40] muesli commented on #204
Are you not compiling this from within your $GOPATH?

[2018-11-03 20:06] LorenzoAncora commented on #204
@muesli yes. My GOPATH is `/usr/local` and I am compiling Beehive from `/usr/local/src/beehive` (the directory with the downloaded sources).

[2018-11-03 20:29] muesli commented on #204
That's probably the issue, your GOPATH structure is wrong. The beehive sources need to live in $GOPATH/src/github.com/muesli/beehive to be compiled.

[2018-11-03 21:42] LorenzoAncora commented on #204
<sup>@muesli</sup>

After following this new directive Beehive gets compiled correctly and serves the admin interface without errors.
**Thank you for your support.**

---

...perhaps it is more appropriate to say that the installation instructions are not correct.

![Installation instructions](https://i.postimg.cc/VLM8PFM6/Istantanea-2018-11-03-22-02-46.png)
![](https://i.postimg.cc/4xZrkRsL/Istan

[2018-11-03 21:42] #204 closed

[2018-11-04 13:35] LorenzoAncora commented on #204
@muesli I'm pushing the changes made to the README but `slackbee` does not work properly. I need you to approve the push request (#207) manually.

[2018-11-04 14:01] LorenzoAncora commented on #194
A chain with only two rings is of little use.

[2018-11-04 16:40] Larpon commented on #194
Cool, thanks for your input - but how do we do this from the UI or config? I'm not sure how you *link* hives?

[2018-11-04 18:13] LorenzoAncora commented on #194
@Larpon it is neither easy nor intuitive but it can be done: the only way to link the hives is to exploit the fact that you can have multiple bees with the same hive but with a different name.

### Example

You have 3 bees: "Cron" hive as A1, "HTTP client" hive as B1 and "Exec" hive as A2.
You can create 2 chains:

1. "A1" event -> "**B1**" action;
2. "**B1**" event -> "A2" action.

It works like

[2018-11-05 17:59] ssbarnea opened #208 "docker images starts but serve empty content on 8181"
I followed the README for starting a docker container on Synology DSM and I mounted  /conf/beehive.conf in order to make its configuration persistent.

Container started without any error messages and created the empty config file with this content:
[code]

Still, when trying to access its web interface, I do only get an empty page with the "BehiveAdmin" title. No errors are displayed on container

[2018-11-06 10:19] ssbarnea commented on #196
I was hit by the same bug and based on the commit history, I was expecting to be able to use CANONICAL_URL environment variable to make the container work. Guess, what the container still servers stuff using its localhost address even after defining this variable, so the bug is perfectly valid.

The container published on docker, must be able to load CANONICAL_URL and use it, without the need to r

[2018-11-06 10:21] ssbarnea commented on #208
This seems to be a duplicate of https://github.com/muesli/beehive/issues/196

[2018-11-06 10:21] #208 closed

[2018-11-06 23:54] LorenzoAncora commented on #194
@Sennahoi if the problem is solved you should close the Issue.
@Larpon all right? other difficulties?

[2018-11-07 06:37] #194 closed

[2018-11-07 06:38] Sennahoi commented on #194
Thanks for your help.

[2018-11-07 12:17] LorenzoAncora commented on #194
@Sennahoi  You are welcome.

[2018-11-26 12:43] LorenzoAncora opened #210 "AppVeyor fails the compilation (ERROR @ Slack Bee)"
I see legitimate commits automatically marked as invalid by AppVeyor.

Exception:
[code]

It would be appropriate to solve the problem: **people have no reason to send code knowing that it will be marked as invalid irrespective of its actual correctness** (especially if they do not want to have anything to do with Slack).

[2018-11-26 12:45] LorenzoAncora opened #211 "Is this repository dead? 💀"
I see that there are 9 push requests pending and the oldest **dates back to 8 April 2017**.
Is there still interest in developing Beehive or maybe the author prefers to devote himself to something else?

It is currently frustrating and confusing to insert new commits due to unresolved Issue #210 that marks good commits as invalid.

[2018-12-05 05:55] hongkongkiwi commented on #172
Most likely they would use 433 or 800mhz right? Plenty of arduino solutions around for those.

Could use this project or HomeAssistant with that.

[2018-12-25 17:43] ChangePlaces opened #212 "can't build on head with go 1.11.4"
/root/go/src/github.com/muesli/beehive/api/resources/bees/bees_post.go:63:31: not enough arguments in call to smolder.ErrorResponseHandler
        have (*restful.Request, *restful.Response, *smolder.ErrorResponse)
        want (*restful.Request, *restful.Response, error, *smolder.ErrorResponse)
/root/go/src/github.com/muesli/beehive/api/resources/bees/bees_post.go:63:75: too many arguments in call

[2019-04-14 11:49] rubiojr commented on #186
https://github.com/muesli/beehive/pull/213 is trying to fix some recent dep related breakage also.

[2019-04-14 11:51] rubiojr commented on #212
@ChangePlaces: https://github.com/muesli/beehive/pull/213 is trying to fix this.

[2019-04-14 17:01] ChangePlaces commented on #212
Thanks, would love to get this working on my pi!

[2019-04-25 02:21] muesli commented on #212
Should be fixed in master now. Note that we switched to Go modules.

[2019-04-25 02:21] #212 closed

[2019-04-25 02:21] muesli commented on #210
Fixed in master.

[2019-04-25 02:21] #210 closed

[2019-04-25 02:22] muesli commented on #211
Nope, as discussed with you on IRC, I just didn't have the time to make the proper switch to Go modules before. Done in master now.

[2019-04-25 02:22] #211 closed

[2019-04-25 02:23] muesli commented on #198
You would have to escape the quotes by prepending them with a backslash, like `\"`.

[2019-04-25 02:23] #198 closed

[2019-04-25 02:24] muesli commented on #195
Should be fixed in master.

[2019-04-25 02:24] #195 closed

[2019-04-25 02:25] muesli commented on #187
Any recommendations for tags/topics?

[2019-04-25 02:26] muesli commented on #186
We switched to Go modules in master. This hopefully fixes a bunch of the issues you ran into. Essentially you can simply clone the git repository anywhere now and just run "make".

[2019-04-25 02:26] #186 closed

[2019-04-25 02:27] #156 closed

[2019-04-25 02:28] prologic commented on #187
* automation
* iftt
* workflow

[2019-04-25 02:31] muesli commented on #175
Switched to kevinburke/go-bindata. Thanks for all the gathered info!

[2019-04-25 02:31] #175 closed

[2019-04-25 02:33] prologic opened #218 "Add gorelease config and tools to automate releases"
Happy to put up a PR for this one based on some of my own projects.

[2019-04-25 02:50] muesli commented on #218
Would love that!

[2019-04-25 04:45] #218 closed

[2019-04-26 22:49] CalmBit commented on #144
Would you still be interested in having this happen? If you needed someone to work on it, I could give it a shot 😄

[2019-04-26 23:06] muesli commented on #144
Absolutely! Prometheus' Go API is rather straight forward and neat, too. Let me know if you run into any issues, I've worked with it before.

This could be really awesome to proxy/export all kinds of metrics data from services that don't natively support Prometheus.

Check out bees/hellobee for a simple "hello world" style bee.

[2019-04-27 05:22] CalmBit commented on #144
Alright, my workspace is set up and I'm starting work on it. I'll ping you if I have any questions!

[2019-04-27 05:33] muesli commented on #205
I've pushed some updates to the `Dockerfile` in git master, and new docker images will from now on be automatically built on the docker hub.

[2019-04-27 05:33] #205 closed

[2019-04-27 05:34] muesli commented on #196
Please try the latest docker image from fribbledom/beehive, or try the `Dockerfile` from master.

[2019-04-27 05:34] #196 closed

[2019-04-27 05:36] muesli commented on #187
Added some. Thanks!

[2019-04-27 05:36] #187 closed

[2019-04-27 05:37] #180 closed

[2019-04-27 06:24] muesli commented on #117
Incorporated your suggestions. Thank you!

[2019-04-27 06:24] #117 closed

[2019-04-27 20:09] dmoonfire opened #224 "Sendy Bee"
It would be nice to have a bee for Sendy, an mailing list manage program that uses SES.

The API is at https://sendy.co/api

[2019-04-27 20:12] dmoonfire commented on #189
For my Nginx setup, I went with:

[code]

It was off-the-cuff, but works out for single user site.

[2019-04-27 20:18] dmoonfire opened #225 "Logging results to test for errors"
So, this is related to my first few attempts at using BeeHive. I have no clue what was going on and if my task worked. After the run, it said it worked but it didn't post so I figured *something* was wrong. However, I couldn't find a log file to tell me what went wrong and which step I had off.

Integromat (which I'm currently) using has the ability to see the last X runs and information (such as

[2019-04-27 20:47] dmoonfire opened #226 "Encryption for values in configuration file?"
Even though it would only slow down some people a little while, I think it would be better to have some of the configuration values encrypted.

[code]

I'd probably just use AES encryption and store the password there, that way there is slightly more effort to decrypt it instead of scanning a filesystem.

[code]

You could use different methods for storing the salt (machine ID, cryptography API, e

[2019-04-27 20:51] muesli opened #227 "Update ansible role"
We switched over to Go modules and the ansible role should reflect the slightly changed build process.

[2019-04-27 20:57] muesli commented on #225
You're absolutely right, Beehive is still lacking in that area and I'm aware of that. There is already a logging endpoint for the API in the works, but the admin interface still needs to be updated to make use of that.

Hopefully something for the next release!

[2019-04-28 22:41] Mark-Jung opened #228 "Installation isse: anaconda version checksum mismatch"
Hello.

I wanted to download this repo to work on an old issue, but I got a checksum mismatch error when running go build and make.

<img width="634" alt="Screen Shot 2019-04-28 at 5 37 18 PM" src="https://user-images.githubusercontent.com/24622842/56870940-97157c00-69dc-11e9-886c-99c6fea9c1a1.png">

This is the error message i received.
My go version is
`go version go1.11 darwin/amd64`
and my ana

[2019-04-28 22:46] Mark-Jung commented on #25
Can I take a stab at this? It seems like it's pretty open.

[2019-04-28 23:27] muesli commented on #228
I can only assume there was an issue downloading the dependency. I would simply try again, the checksum is certainly correct.

[2019-04-28 23:27] muesli commented on #25
@Mark-Jung Of course, go ahead!

[2019-04-28 23:32] prologic commented on #25
What would this Bee do?

On Mon, 29 Apr 2019 at 09:27, Christian Muehlhaeuser <
notifications@github.com> wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-04-28 23:38] muesli commented on #25
Trigger events when a user uploaded a video, or when one of your subscribers pushes something. Could also upload new videos straight to your account.

[2019-04-29 04:07] Mark-Jung commented on #228
I tried again, but after some digging around I found out that go would generate different hashes with different go versions. Thus, I bumped up by go version to 1.12.4. After upgrading my go version, I faced another error.

build github.com/muesli/beehive: cannot load golang.org/x/net/lex/httplex: cannot find module providing package golang.org/x/net/lex/httplex
make: *** [build] Error

I will keep

[2019-04-29 04:17] Mark-Jung commented on #228
Seems like people have a similar issue, where httplex has been renamed/merged into httpguts.

https://github.com/ponzu-cms/ponzu/issues/245
https://groups.google.com/forum/#!topic/golang-nuts/2crpmllOyOA

I don't believe there is a clean workaround to this issue. Could you update this? @muesli

[2019-04-29 04:43] muesli commented on #228
Hm not sure I can do much here. Maybe you still got some old dependencies lingering around on your system? We're building every commit on Travis CI and Docker Hub with Go 1.11 and Go 1.12, so I'm fairly sure the codebase should be fine and there's not much we can do here.

[2019-04-29 04:49] prologic commented on #228
You’re not building inside a $GOPATH are you ?

On Mon, 29 Apr 2019 at 14:43, Christian Muehlhaeuser <
notifications@github.com> wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-04-29 04:58] prologic commented on #228
FWIW I'm [not able to repro](https://gist.github.com/prologic/def4744da2152eb9cad972e80ccacd5a) what you're experiencing on master right now (*at work*).

[2019-04-29 05:45] Mark-Jung commented on #228
I wasn't. I ran go clean modcache, removed the folder, then ran make again. Amazingly, it works. I'm confused, but I ain't complaining. Sorry for the false alarm.

[2019-04-29 05:45] #228 closed

[2019-04-29 05:54] muesli commented on #228
Weird, I just realized something that may be related: running `go mod tidy` also ends up complaining about the httplex package not being found. I'm still not quite sure what to make of that.

[2019-04-29 05:58] Mark-Jung commented on #228
Hmm... Well from the build log provided by @prologic, the build seems like it doesn't include httplex, which is why there was no error. I don't think anyone else have faced the same issue I did, (or they didn't complain about it) but would it be worthwhile to add something in the doc?

[2019-04-29 07:15] prologic commented on #228
Oh! Maybe our build rules in the Makefile  are at fault ?

On Mon, 29 Apr 2019 at 15:58, Mark Jung <notifications@github.com> wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-04-30 08:11] Horrendus opened #230 "Serial event processing in a chain"
Sometimes it could be needed to wait until the next bee in the chain is finished before that bee receives the next event

My use case: Mixcloudbee gets a list of Cloudcasts that I want to download using an ExecBee & youtube-dl. Opening youtube-dl 10 or more times blocks my IP from mixcloud and also uses quite much processing power. So I want to wait until the ExecBee is finished before sending the

[2019-04-30 15:52] CalmBit commented on #128
I'd like to grab this and queue it up if that'd be okay! Not to over-burden myself, but just to stake out projects that I can tackle here :)

[2019-04-30 16:01] muesli commented on #128
Awesome, was hoping for someone to tackle this!

[2019-05-01 13:29] muesli commented on #112
Can't reproduce this with master/latest release anymore :smiley:

[2019-05-01 13:29] #112 closed

[2019-05-01 13:31] muesli commented on #28
@Skrylar I'm not sure if that's within Beehive's scope (even though a specialized hive could do it). Certainly worth a separate ticket.

[2019-05-01 13:31] #28 closed

[2019-05-01 20:33] muesli commented on #144
Merged to master. Thanks @CalmBit!

[2019-05-01 20:33] #144 closed

[2019-05-03 06:51] CalmBit commented on #97
Hey, I'd love to try to tackle this one next if I can!

[2019-05-03 08:22] muesli commented on #97
I actually have semi-finished GitLabBee, but I'd love to pass that on to you to finish it up, as it probably won't have the time to do so within the next couple of days. I may just push it to a branch now.

[2019-05-03 20:48] CalmBit opened #235 "Discord Bee"
A bee that allows for a bot to be added to discord that can send messages!

Possibly using [this](https://github.com/bwmarrin/discordgo)?

[2019-05-03 20:56] CalmBit commented on #122
Should have been fixed by #233 !

[2019-05-03 20:56] #122 closed

[2019-05-03 23:16] CalmBit opened #237 "bee.LogDebugF"
It'd be really cool to be able to put in some diagnostic information as debug-level logging, especially for situations in which someone is having an issue figuring out what's wrong with a bee. We've got a lot of debug information to report, but cluttering the log with this normally seems rather poor practice. So why not have a way to log debug statements?

[2019-05-04 08:52] muesli commented on #237
Yeah, I must admit I'm not sure why I didn't add that in the first place. Resolved by your own PR that I just merged into master!

[2019-05-04 08:52] #237 closed

[2019-05-04 15:33] CalmBit commented on #85
Possibly https://github.com/Nexinto/go-icinga2-client?

[2019-05-05 01:05] #128 closed

[2019-05-05 03:33] CalmBit commented on #77
I'm not sure if this is still a pressing issue, but perhaps a checkbox would work better than a dropdown box?

Although, to be fair, I kinda wish there was an enum system for bee configuration...

[2019-05-05 03:37] prologic commented on #77
A checkbox makes more sense than a drop-down menu for a Boolean value!

On Sun, 5 May 2019 at 13:34, CalmBit <notifications@github.com> wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-05-05 08:40] muesli commented on #77
@CalmBit Do you mean enums for the types?

[2019-05-05 08:41] CalmBit commented on #77
@muesli I think the idea I was roughly trying to express was related to the ability to configure a bee with an enumerated value of some kind. That is to say, if a value can only have a set range of values that would be better served with a string identifier, perhaps some sort of way to expose a true dropdown?

[2019-05-05 08:42] muesli commented on #77
@CalmBit Yeah, that's probably a good idea!

As a heads up: the new admin system has a bit of type reflection, so we can at least handle types differently.

[2019-05-05 09:05] CalmBit commented on #132
For clarity, I had no problem with chains _executing_ with special characters in their name. Bees didn't have this problem either.

[2019-05-06 17:19] esturniolo commented on #196
Sorry guy, but I've the same situation with no luck. I've just made a pull from fribbledom/beehive and I still get the blank screen.
I can't figure out where I should add the canonical url line to make it work.

[2019-05-06 17:21] muesli commented on #196
@esturniolo You can add it to your `docker run` command, simply add `-e CANONICAL_URL="http://host:port"`.

Which browser do you use, and which address are you trying to reach Beehive at?

[2019-05-06 17:25] esturniolo commented on #196
Thanks for your fast response!
I'm using Chrome (tried with Firefox and Safari too without any luck)

I'm trying to run it like this:
`docker run -e http://192.168.0.37:8181 --name beehive -d -p 8181:8181 fribbledom/beehive`

But I still got the blank page.

[2019-05-06 17:36] muesli commented on #196
You missed the "CANONICAL_URL" part:

[code]

Then access `http://192.168.0.37:8181` in your browser.

[2019-05-06 17:37] esturniolo commented on #196
Finally!!!
Is now working!
`docker run --name beehive -d -p 8181:8181 -e CANONICAL_URL="http://192.168.0.37:8181" fribbledom/beehive` was the correct command to run

[2019-05-06 17:37] esturniolo commented on #196
Yes. My mistake.
Thanks a lot @muesli

[2019-05-06 20:22] jugendhacker opened #240 "Can't find dependencies"
If I run make on the actual master it can't find the dependencies and so don't want to build, how could I fix this?

[2019-05-06 20:34] CalmBit commented on #240
What specific error are you getting? i.e. What's the terminal output?

[2019-05-06 21:20] jugendhacker commented on #240
That's what I run and what the terminal output is

[code]

[2019-05-06 21:24] CalmBit commented on #240
Ah, I assume this is in your gopath?

If it's in your gopath, _by default_ the gomodules behaviour will be disabled. Instead, it's looking for your packages within your gopath. My immediate suggestion would be to move beehive out of your gopath if it's there.

[2019-05-06 21:25] muesli commented on #240
@jugendhacker If you compile it within your $GOPATH, you will need to run `go get -u -v` manually. Since we switched to Go modules, though, as user I would actually suggest cloning beehive outside your $GOPATH and just run make. This will take care of fetching the missing dependencies.

[2019-05-06 21:27] jugendhacker commented on #240
I cloned it outside of the gopath and also just ran make

[2019-05-06 21:43] muesli commented on #240
@jugendhacker Are you sure you are running Go 1.11+? If you don't you can try the other approach I mentioned in my comment:

[code]

Should you $GOPATH be undefined, it will default to `$HOME/go`.

[2019-05-07 01:44] prologic commented on #77
Can we change the title of this ieeue?

I do not believe this should be a "dropdown menu". Wrong UI/UX IHMO.

[2019-05-07 12:35] mkrauser opened #243 "Scripting Bee"
I would love to see a Scripting-Bee where you can invoke Scripts (PHP, JS, Go, Perl, ...).

I thought about this a lot, and in my opinion it is too much effort to include the scripting languages within beehive. Instead the respective interpreters/compilers should be installed on the host system.

The Event-Data can be provided as command-line parameters or via StdIn.

What would you think of this:

[2019-05-07 12:42] prologic commented on #243
Why not just do what [Consul Template](https://github.com/hashicorp/consul-template) does and just allow arbitrary binary/scripts/whatever to be used as Bees. Define the interface as a set of required Stdin/Stdout and. Why should this have anything specific to do with any interpreted scripting language intepreter?

[2019-05-07 15:20] muesli commented on #243
You can already use the ExecBee to communicate via stdin/out and run arbitrary binaries, but that's obviously just an action you can execute. You couldn't trigger any defined events, and you can't keep a script running for continuous communication.

Some more food for thought:

The same concept could be used for arbitrary scripts that communicate via a (well-defined) JSON protocol over stdin/out.

[2019-05-07 17:06] dogik opened #244 "Docker image has a corrupted build"
I was going to run beehive in docker, but faced a blank page when accessing it from browser. I get the following errors in my browser console (tried IE, Vivaldi and chrome):
[code]

Steps to reproduce:
1. docker run --name beehive -d -p 8181:8181 dogik/beehive:latest
2. open browser at http://url:8181- you will get a blank page
3. Go to browser console - see the error above

I tried:
1. building f

[2019-05-07 20:03] muesli commented on #244
You will have to change the value of CANONICAL_URL indeed. Set it to `http://url:8181`.

[2019-05-07 21:39] dogik commented on #244
@muesli thanks. Apologies, indeed `docker run --name beehive -d -p 8181:8181 -e CANONICAL_URL=http://url:8181 fribbledom/beehive:latest` fixed this issue. I probably messed up something while playing with builds.

[2019-05-07 21:39] #244 closed

[2019-05-08 01:49] muesli commented on #244
Don't worry, glad to hear you managed to solve it. We clearly need to handle this situation better than silently failing with a (seemingly) blank page. As a first step I've added an extra Docker example to the README, but we'll really have to fix this in the admin interface.

[2019-05-08 07:32] mkrauser commented on #243
You are right, all this can already be done with the ExecBee. But there would be some boilerplate-code which is required everytime (read from StdIn and convert the json-string).

What I'm proposing is a Bee where the customer can enter some Code and this is executed when the action is triggered. The boilerplate-code should be pre-pended to this script automatically to provide the input already par

[2019-05-08 20:55] mkrauser commented on #243
btw: Zapier offers something similar: [Code on Zapier](https://zapier.com/apps/code/help)

[2019-05-08 20:58] prologic commented on #243
Looks like it supports execution of Javascript as triggers. If we went down that route we could use [otto](https://github.com/robertkrimen/otto).

[2019-05-08 21:23] CalmBit commented on #243
That might not be a terrible idea. For all that I don't like about javascript, it's a great scripting language.

[2019-05-08 21:32] muesli commented on #243
@mkrauser Ok, understood. A defined protocol for scripts to receive & return values via a JSON interface is certainly a good idea. This will stand or fall by the quality of the provided documentation, though, so please try to keep that in mind!

[2019-05-09 00:41] sgama commented on #180
I believe this is still an issue.

I just pulled the latest image, tried to add both a Github Bee and a Twitter Bee and my page
[code]
Shows empty.

[2019-05-09 01:49] rocket357 opened #245 "/bin/go-bindata: not found"
test$ git clone https://github.com/muesli/beehive.git
Cloning into 'beehive'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 5350 (delta 4), reused 12 (delta 2), pack-reused 5332
Receiving objects: 100% (5350/5350), 6.81 MiB | 1.47 MiB/s, done.
Resolving deltas: 100% (3243/3243), done.

test$ cd

[2019-05-09 01:49] rocket357 commented on #245
bah, nevermind.  $GOPATH wasn't set.  =)

[2019-05-09 02:02] muesli commented on #245
This should have worked without $GOPATH being set, as well. Or at least that's what I thought it would. Will re-open and investigate. Thanks for reporting!

[2019-05-09 02:03] rocket357 commented on #245
Apologies, closed a bit early.  Even with GOPATH set, it is attempting to run /bin/go-bindata, which fails.

test$ uname -a
OpenBSD test.j3z.local 6.5 GENERIC.MP#3 amd64

test$ go version
go version go1.11 openbsd/amd64

Cloned into /home/beehive/beehive.

test$ echo $PATH
/home/beehive/bin:/home/beehive/go/bin:/home/beehive/beehive/bin:/bin:/sbin:/usr/bin:/usr/sbin:/usr/X11R6/bin:/usr/local/bin:/

[2019-05-09 02:03] rocket357 commented on #245
I should mention, $(shell go env GOPATH) (in Makefile a few times) doesn't produce the expected output on OpenBSD.

[2019-05-09 02:17] rocket357 commented on #245
gmake solves the $(shell go env GOPATH) issue, but now I'm hitting checksum mismatch:

go: verifying github.com/ChimeraCoder/anaconda@v2.0.0+incompatible: checksum mismatch
        downloaded: h1:slAmCJMpjEztM42qRfhFkh3gBLHnIUUmlMK5zFd60Pc=
        go.sum:     h1:F0eD7CHXieZ+VLboCD5UAqCeAzJZxcr90zSCcuJopJs=
gmake: *** [Makefile:20: build] Error 1

[2019-05-09 02:38] muesli commented on #245
Try and wipe the Go modules build cache with `go clean -modcache`. I'm fairly sure the checksum should be fine, as the CI would have already complained about it otherwise. Unless there's another BSD related issue I'm not aware of that influences the checksum calculation (build tags? who knows).

[2019-05-09 02:54] rocket357 commented on #245
Still an issue with `go clean -modcache`.  I nuked the /home/beehive/beehive and /home/beehive/go directories and started fresh with gmake, but I'm still getting the checksum error.

I ran across this:  https://github.com/golang/go/issues/29278  This suggests go prior to 1.11.4 generated checksums a specific way, and some symlinks failed to be taken into consideration.  As such, I'm going to upgra

[2019-05-09 03:42] muesli commented on #245
@rocket357 Thanks for looking into this. Please let us know if you figure out what's going on!

[2019-05-09 04:18] rocket357 commented on #245
Updating to 1.12.4 resolves the checksum issues, however, I am now running into undefined symbols:

# github.com/guelfey/go.dbus
../go/pkg/mod/github.com/guelfey/go.dbus@v0.0.0-20131113121618-f6a3a2366cc3/transport_unixcred.go:12:12: undefined: syscall.Ucred
../go/pkg/mod/github.com/guelfey/go.dbus@v0.0.0-20131113121618-f6a3a2366cc3/transport_unixcred.go:13:7: undefined: syscall.UnixCredentials
#

[2019-05-09 04:32] muesli commented on #245
I guess we'll have to disable the `dbus` and `serial` hives for BSD (for now at least). I can try to quickly commit that, but I'll have to rely on you testing it - unless I'll try to quickly cross-compile it.

[2019-05-09 04:51] rocket357 commented on #245
https://github.com/jacobsa/go-serial/pull/42

I mean, it's basically a noop, so yeah, disabling would work =)  (and still no clue on the dbus syscall issues).

[2019-05-09 04:52] rocket357 commented on #245
And I'd be happy to test.

[2019-05-09 05:56] muesli commented on #245
Ok, just pushed. Give it a shot!

[2019-05-09 06:18] rocket357 commented on #245
Builds now.  Thanks.

[2019-05-10 08:40] rocket357 commented on #245
To the horror of my teenager, I spent a bit playing around with the discord bee in particular, seems to work just fine on OpenBSD.

Thanks!

[2019-05-10 08:40] #245 closed

[2019-05-13 21:12] jugendhacker commented on #240
At the and I found out that the Manjaro ARM that I use on my Raspberry Pi had a Go version from early 2018 and so this couldn't have worked!

I contacted the Maintainer and he found out that there was a Problem with the builds, now there is the 1.12.4 and everything works fine! Thank you for the help...

[2019-05-13 21:12] #240 closed

[2019-05-14 02:50] muesli commented on #240
Awesome, great news then. Thanks for letting us know what was going on!

[2019-05-14 09:59] internetimagery commented on #10
I would love to see this happen as well. Perhaps not just for triggering on jira events, but also triggering jira from other events. Transitioning issues when other services emit events is a powerful workflow automation, and setting it up with the simplicity offered here would be awesome.

+1 for JIRA at somepoint in the future. :)

[2019-05-14 10:05] internetimagery commented on #97
I'm looking forward to this too. This is one of many that make this tool quite attractive as a workflow automation tool. Gluing different applications together to build a coherent pipeline.

I'm looking forward to evaluating possible usage of this at work, when this comes out. :)

Thanks for the hard work everyone!

[2019-05-14 10:08] internetimagery commented on #75
This is more about the GUI though right? Making the text field a field of stars (*****).

Perhaps passwords could be stored in os level keyrings, but at the very least if the json file has severely locked down permissions it shouldn't be too bad.

[2019-05-14 10:27] internetimagery opened #246 "Sorted list of Bees"
Hi all!

This is a really promising little application. I'm looking forward to getting stuck in with it.

One thing that that I would like to request however is if it's possible to sort the bees in the main interface. Perhaps even statically, if that is easier.

I'm thinking, in descending order of specificity. eg:

* Harware related bees together (serial ports / filesystem watching etc).
* Generi

[2019-05-14 10:58] internetimagery commented on #226
Are configuration files expected to be portable from machine to machine, user to user?

If not, perhaps the "password" value could instead be a string that acts as a serviceID, and the real password is stored in the os level keying. Using something like https://github.com/zalando/go-keyring

[2019-05-14 11:08] internetimagery commented on #230
From a usability perspective, would it instead make sense for the execute hive to take an optional max number of concurrent processes in its own settings configuration?

So you can throttle it to whatever level you desire ( in this case a limit of 1 ), without requiring another separate hive?

[2019-05-14 18:23] upstreamist opened #247 "Delete action for Mastodon"
Add delete as an action for Mastodon bees.

A potential use case: Setting up a chain to delete toots/tweets after *x* number of days.

Same goes for any social media platform that allows deleting via API, really. E.g. Twitter, Facebook, etc.

[2019-05-15 02:16] sgama opened #249 "Docker image doesn't save new bees."
I'm trying to set up Beehive on my server but I can't seem to get it to save the Cron or Twitter bee.
Here's my docker-compose file:

[code]

The docker logs don't seem to show any error.
Process to reproduce:
- Create a new bee, save
- Clear browser cache (Control-shift-R) and reload

No bees are available. Checking /conf/beehive.conf shows a JSON file with these contents:
[code]

Let me know if

[2019-05-15 04:23] muesli commented on #246
Yeah, that's a great idea! I'm working on a refactor of the entire admin interface and will take that into account.

[2019-05-15 04:26] muesli commented on #226
The config file is currently portable indeed. Also seeing how Beehive is usually run on a server and not on the desktop, I'm not sure a key-ring that needs to be unlocked manually is the right approach. We'll think about this some more.

[2019-05-15 04:27] muesli commented on #75
More type handling (and hiding passwords) is a feature of the admin interface refactor: work-in-progress :smile:

[2019-05-15 04:40] muesli commented on #249
The config file gets saved on shutdown, but if a simple reload already makes all configured bees disappear, it sounds like a different issue. Can you reproduce this by directly running the image (like mentioned in the README) outside docker-compose?

[2019-05-15 04:40] muesli commented on #227
@morbidick Any update on this one?

[2019-05-15 04:58] sgama commented on #249
Interesting! I figured it out.

I ran the image directly as mentioned in the README:
[code]

and it worked. I was able to save and retrieve a bee. So I was confused as docker-compose is just a wrapper around docker. So I created a new Dockerfile from scratch and it also worked!

Turns out it was the trailing slash in the `CANONICAL_URL`. Using
[code]

in the docker-compose file pasted above worked

[2019-05-15 05:13] muesli commented on #249
Interesting find! I need to look into what's causing that and make sure that's not leading to any issues. It's probably a fairly common "mistake" (I wouldn't even call it one, it's perfectly valid input).

[2019-05-15 05:29] muesli commented on #249
Fixed in master. Thanks for the detailed report!

[2019-05-15 05:29] #249 closed

[2019-05-15 09:56] internetimagery commented on #75
Huzzah! :smile:  :+1:

[2019-05-15 18:58] dmoonfire commented on #226
If you use the salt in the configuration, it would be portable since you would hopefully use the same algo (like AES) which is universal. The advantage is that you can't use a rainbow table easily to figure it out since you'd have to hash the entire keyspace to find it instead of using the pre-generated table.

If you allowed for a machine key or another approach, then it wouldn't be portable but

[2019-05-16 04:51] prologic commented on #243
Recommend the use of [Protobuf](https://github.com/protocolbuffers/protobuf) here to:

* Ensure backwards/forward compatibility of the format
* Be type safe
* Mostly self-documenting

Even if we marshal it as JSON -- that's fine.

[2019-05-16 15:16] mkrauser commented on #243
@prologic That sound really nice, I will have a look at it. Thank you!

[2019-05-16 19:00] pklapperich commented on #138
Hangouts is being phased out in favor of Hangouts Chat. Hangouts Chat is under active development and available for GSuite users and [Google plans to start phasing out "Hangouts Classic" for GSuite users starting as early as Sept.](https://gsuiteupdates.googleblog.com/2019/01/upcoming-hangouts-service-consolidation.html). Consumers will also be moved from Hangouts Classic it Hangouts Chat, but it'

[2019-05-20 10:11] MoriTanosuke opened #250 "Allow subdirectory in CANONICAL_URL parameter"
I tried to set up *beehive* behind my existing Setup using Docker containers on a private network and an *apache* reverse proxy in front of those containers. I tried to configure my reverse proxy in the usual way

[code]

I also started the *beehive* container with env var `CANONICAL_URL=https://mydomain/beehive` but I only get a blank page when I try to open *beehive*. I noticed that *beehive* ge

[2019-05-20 21:04] CalmBit commented on #235
Whoops, this shoulda been closed a little while ago.

[2019-05-20 21:04] #235 closed

[2019-05-20 21:49] CalmBit commented on #132
@muesli Is this ready to be closed?

[2019-05-21 06:26] muesli commented on #132
I think we will impose reasonable limits to the character selection in names with the upcoming admin interface refactor. Will keep this open until then.

[2019-05-27 16:33] rubiojr commented on #230
No idea how the implementation should look like, but this sounds like a really useful addition!

What if we add a serial-exec-bee instead that execs commands serially reading from an in-process queue so we don't have to change beehive internals to support this?

[2019-05-27 21:21] Horrendus commented on #230
Serial Exec would also be possible. But a really good solution would be to (a) either support it in the Beehive internals, so that this could be used by every Bee or (b) make a specialized Bee that would allow to sit in between any 2 Bees and queue up the events and deliver them one by one to another Bee (when that one finishes work). No idea if it is possible, would need to play around with Beehi

[2019-05-28 08:35] internetimagery opened #252 "Error Report Bee"
It would be handy to have an alert system in place, for when things fail. Otherwise debugging any large chain of chains will become tricky and cumbersome.

Perhaps this is better living outside of the event structure, rather than being a part of it itself. However I think it'd be useful to use a bee, triggering events on other bee failures, to utilize the existing notification methods already in p

[2019-05-28 08:55] muesli commented on #252
There is work ongoing on a full featured logging and error handling system in the admin interface rewrite.

I do like the idea of errors being events that are emitted, though! Food for thought, thank you!

[2019-05-29 05:50] Riduidel opened #253 "On Raspbian, I can't start twitter bee"
I'm trying to replace IFTTT by Beehive running on my raspberry 3 (which uses Raspbian Stretch).

Beehive starts normally, but when I try to set up twitter bee, I get this error message

	ERRO[0001] [Riduidel's Twitter]: Error: Could not verify Twitter API Credentials (Get https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true&tweet_mode=extended returne

[2019-05-29 05:53] Riduidel commented on #253
My raspberry is able to connect to api.twitter.com, so it's not a network error

	curl  https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true&tweet_mode=extended
	{"errors":[{"code":215,"message":"Bad Authentication data."}]}

[2019-05-29 05:54] Riduidel commented on #253
And notice I've literaly copy/pasted credentials obtained from twitter (and they are visible in the `beehive.conf` file (but I won't show them)

[2019-05-29 06:18] Riduidel commented on #253
Interestingly, i've tried using those keys with tweetledee (http://tweetledee.github.io/tweetledee/), installed on the same Raspberry server, and it doesn't work either ! So it seems like the keys are ... not the ones adapted to that kind of application, which is weird.

[2019-05-29 06:48] muesli commented on #253
I don't think this is related to Raspbian or the Pi. How/where exactly did you obtain your keys? You essentially need to create a new Application over on https://developer.twitter.com/en/apps

Next you'll need to generate an accesstoken for that newly created application there.

[2019-05-29 07:13] Riduidel commented on #253
Yes that's exactly what I did

I have created my application

![image](https://user-images.githubusercontent.com/171018/58536651-7e71cf00-81f1-11e9-88bb-988d5e49b473.png)

And I've created my customer key/secret and access key/secret

![image](https://user-images.githubusercontent.com/171018/58536725-ab25e680-81f1-11e9-87c0-6a9af027ac4a.png)

That I've copied in beehive Twitter bee config

... Wel

[2019-05-29 07:52] Riduidel commented on #253
oh yes it works ! https://twitter.com/riduidel/status/1133642224460283905

[2019-05-29 07:56] Riduidel opened #254 "Google Tasks Bee"
Could it be possible to add a bee allowing read/write into Google Tasks ? It seems like [they provide an API](https://developers.google.com/tasks/)

[2019-05-29 07:56] muesli commented on #253
Yeah, trimming those strings is probably a good idea! I'll rename and reopen the ticket to match that suggestion. Thanks for your feedback!

[2019-05-29 16:16] Riduidel commented on #26
Without these containers, restarting beehive implies restarting all bees as if they never run.
Typically, my RSS to Twitter chain would re-emit tweets each time  beehive is restarted

[2019-06-08 11:43] Narrekapp opened #255 "Is it possible to throttle a rss 2 twitter chain?"
It would be nice to have a throttling mechanism in order to be able to chain a high volume rss feed to Twitter, making sure that there is only one random tweet sent per hour. Otherwise one could get blocked quite fast.

Or does such a mechanism exist and i am just blind? :)

[2019-06-09 15:32] muesli commented on #255
There is no such mechanism at this point, sorry. It is an interesting suggestion however, thank you!

[2019-06-15 01:51] rocket357 opened #256 "Config file - reference bees by ID, not name"
Actions in beehive.conf are referenced by ID, which makes sense given that they don't really have a "pretty name" associated with them.  Bees, however, do have "pretty names", so they are referenced by said names.

I have a pretty extensive list of Bees (and this is going to sound so "first-world-problem"), and I'd like to refactor how I've named them.  Since they are referenced by name in the con

[2019-06-24 13:43] rubiojr commented on #226
Would we be open to encrypting the entire configuration file like rclone does?

* If the config is encrypted, beehive asks for the password when booting
* Give the option to the user to encrypt the config using a password from the environment or provided via stdin.

I've recently extracted the crypto from rclone for some other projects that I have: https://github.com/rubiojr/fcrypto

[2019-06-30 23:06] muesli commented on #226
@rubiojr Yeah, I think that makes the most sense: "simply" encrypt the entire config file. Open for PRs, of course!

[2019-07-01 14:45] rubiojr commented on #226
@muesli happy to take care of that. My plan was to do it after we merge the config package refactor in https://github.com/muesli/beehive/pull/251. Thoughts?

[2019-07-01 15:41] rubiojr commented on #226
Implemented a quick proof of concept, would look something like https://gist.github.com/rubiojr/53c9de66138e8f1c29fd776ca0ddd2ff (on top of #251).

Should be portable across different platforms.

[2019-07-18 12:11] muesli commented on #256
You're certainly right, on the other hand the name of a bee is treated as a form of ID here. This still stems from a time where we didn't have any config interface whatsoever, and users were expected to edit the config file by hand.

Will take that into consideration while I'm refactoring the entire admin interface. Thank you!

[2019-07-27 05:23] reilue opened #258 "Beehive support this triggers?"
Hi. I'm fascinated with beehive, and I wonder if such triggers are support:
- Read Email ( e.g. Google)
- Interact with Google Spreadsheet for writing a cell

[2019-07-29 23:53] muesli commented on #258
We could add an IMAP hive, that would make it work with all kinds of mail services.
I'm afraid I have no idea if there's a public API for Google Spreadsheets (even though I would assume there is), though.

We should probably split this up into two separate tickets.

[2019-07-30 00:44] reilue commented on #258
I would love to contribute but my background is with Python & JS. 😞

The tickets could be something like this.

- Trigger for Google Mail
https://developers.google.com/gmail/api/guides/

- Trigger for Google Spreadsheet
https://developers.google.com/sheets/api/reference/rest/

Or something that you may find more appropriate.

[2019-07-31 17:29] tonywangcn opened #259 "go run beehive.go throws a panic, unkown bee-class in config file"
When I want to create some customize bee, I prefer "go run beehive.go" to run the project without go build (or make embed in this project).

But it failed with a panic. Here is the cmd. I know it means that it doesn't load the bees correctly, but why it works with the binary version?

How should I fix the error? Thanks!

`go run beehive.go -config ./config/beehive.conf -bind 0.0.0.0:8181 -canonica

[2019-07-31 17:46] muesli commented on #259
That can't work, as it will exclude 90% of Beehive's code: it will really only parse this one file. You can try `go run *.go ...` but I'm not even sure that works.

Happy to provide more insight, but as this is nothing Beehive specific and simply how Go works, I'm going to close this.

[2019-07-31 17:46] #259 closed

[2019-07-31 18:01] tonywangcn commented on #259
Thanks! You're right, It works!

[2019-09-19 23:26] metal450 commented on #178
Also looking for the ability to do this: I'd like to watch for photos posted to my profile, & be able to post them on to my page.  Is such a thing possible currently?

[2019-09-29 13:27] sbrl opened #263 "Bug: Can't run Beehive behind Nginx under a subdirectory"
It doesn't appear to be possible to reverse-proxy Beehive to be served from a subdirectory.

Beehive seems to be absolutely adamant that it's going to request assets from `/assets/example.txt` instead of `/beehive/assets/example.txt` - despite me using `-canonicalurl`.

I've tried both `-canonicalurl http://example.com/beehive/` and `-canonicalurl http://[::1]:3070/beehive/` - and neither have had

[2019-10-17 14:22] Invertisment opened #264 "Facebook bee setup problem"
I wanted to fiddle with facebook bee and before I could even try it out I got an error.
It's related to the deprecated post API.

I am in no hurry to fix anything and this doesn't impact me, but it would be nice for it to work.

https://www.nextscripts.com/news/2018/04/facebook-error-invalid-scopes-publish_actions/

[2019-10-18 18:23] CalmBit commented on #264
Could you post the error here? I'd like to debug this and see what's going on.

[2019-10-18 18:24] CalmBit commented on #258
Gonna see if I can get these two up and running soon 😄

[2019-10-18 20:26] Invertisment commented on #264
I've tried again and this time I noticed that I didn't set my fb app to "live" (I haven't created any fb apps too).
With this being out of the way it could work but now I get an error about the domain of the app (in lithuanian):

Nepavyksta atverti nuorodos: Nuorodos domenas nėra įtrauktas į programėlės domenų sąrašą. Programėlės nustatymuose, lauke Programėlės Domenai, pridėkite visus programėlės

[2019-10-18 23:06] CalmBit commented on #264
[This](https://wp-native-articles.com/blog/news/how-to-fix-facebook-apps-error-cant-load-url-domain-url-isnt-included-apps-domains/) seems to cover this error pretty well. I'll have to research it more, but the HTTPS requirement might be the first place to start.

[2019-11-10 19:25] rubiojr opened #276 "Add Beehive to awesome-go"
Should we add Beehive to https://awesome-go.com? It's already quite popular but adding it there could make it even more visible?

@muesli: I assume that Beehive's creator would be the best person to open a PR there.

[2019-11-11 05:24] muesli commented on #276
Good idea! I'm just not sure which category I should file it into :laughing:

Server Applications? Other Software?

[2019-11-11 05:27] prologic commented on #276
In addition to awesome-go I would also file it under [awsome-self-hosted](https://github.com/awesome-selfhosted/awesome-selfhosted) under "Automation" :)

[2019-11-11 05:45] muesli commented on #276
@prologic Looks like it's already there :smiley:

[2019-11-11 05:50] prologic commented on #276
D'oh :) I forgot and didn't look! 🤣😂

[2019-11-11 06:11] prologic commented on #276
Apparently several years ago by @isdn in PR [#1084](https://github.com/awesome-selfhosted/awesome-selfhosted/pull/1084) 🤷‍♂️

[2019-11-12 10:59] rubiojr commented on #276
Perhaps we could suggest the repo maintainer to open a new "Automation" category?

[2019-11-19 17:52] sant-sh commented on #263
Even for me on sub domain under root directory is falling,

Docker command
`docker run --name bh --restart always -e CANONICAL_URL="http://app.example.com" -d -p 8181:8181 fribbledom/beehive`

Nginx reverse proxy
`server {
  listen        80;
  server_name   app.example.com;

  location / {
    proxy_pass  http://localhost:8181;
    }
}`

Am I doing any mistakes here?

[2019-11-19 18:32] muesli commented on #263
You need to specify the port in the `CANONICAL_URL`.

[2019-11-20 11:46] sant-sh commented on #263
Thank you for your reply,

I am using cloudflare https on subdomain and passing the traffic through 80 using reverse proxy to the docker port 8181.

So I have tried all the combination but still it failed, here are my combinations,
`-e CANONICAL_URL="http://app.example.com:80"`
`-e CANONICAL_URL="http://app.example.com:8181"`
`-e CANONICAL_URL="https://app.example.com:443"`

[2019-11-21 02:56] muesli commented on #263
@sant-sh Ok, I see. The purpose of `CANONICAL_URL` is to make sure the web interface knows how to reach its own API. Just set it to whatever URL Beehive can be accessed with. So your initial Docker command doesn't actually look wrong. Did you check what happens when you try and access http://app.example.com? Does it return anything but then fails to access its own API?

[2019-11-21 09:00] sant-sh commented on #263
Its a blank page, nothing comes on screen.

on the docker logs, this is what I see,
`INFO[0297] Handling request                              Method=GET URL=/
INFO[0297] serving config/index.html ... (from )
INFO[0297] Finished request                              Duration=76.48506ms Method=GET Response=200 URL=/
`
Page source: https://pastebin.com/dbpQCFE9

As I said earlier, I am using cloudflar

[2019-11-26 16:05] sant-sh commented on #263
Hey @muesli

I don't want to sound pushy, but just wanted to know if there is any solution for this issue or is that I am doing something wrong.

[2019-11-26 18:28] sbrl commented on #263
Have you tried ti without docker, @sant-sh?

[2019-11-27 08:52] sant-sh commented on #263
@sbrl, just now tried, locally it worked on localhost but on Nginx reverse proxy its simple showing as blank (similar to docker).

Is there any specific configuration for Nginx which i should be using?

This is the configurations i am using,
location / {
proxy_pass http://localhost:8181;
}

[2019-11-28 21:33] sbrl commented on #263
Ah, I see. I'm not sure what to suggest.

[2019-12-01 12:34] helmut72 commented on #258
A standard IMAP connection would be cool. GMail is Google only.

[2019-12-02 14:41] CalmBit opened #277 "IMAP Hive"
As mentioned in #258, an IMAP hive for processing emails would be great to have.

[2019-12-02 14:43] CalmBit opened #278 "Google Sheets Hive"
This could probably be more generally expanded, but Sheets integration was the requested functionality (as requested in #258).

[2019-12-02 14:43] CalmBit commented on #278
Just as a breadcrumb for anybody looking to pursue this: [Google](https://developers.google.com/sheets/api/quickstart/go) has some information about their Sheets API and integration w/ Go.

[2019-12-02 14:44] CalmBit commented on #258
I split this up into two separate tickets, as seen above! Closing for now.

[2019-12-02 14:44] #258 closed

[2019-12-03 10:02] VGerris commented on #83
This project seems to have potential but it's not very useful at the moment without some basic start steps. Are you planning to bring it to that stage at least? This hasn't been updated and is pretty much the start step.

[2019-12-07 09:04] muesli commented on #276
Yeah, worth a shot, will do. Or at least ask them where they would file it.

[2019-12-07 09:09] muesli commented on #263
@sant-sh I just verified the behavior is still working as expected. This definitely works here:

[code]

I can then reach Beehive at http://192.168.0.2:8181

[2019-12-08 18:00] sant-sh commented on #263
@muesli my docker instance is behind nginx reverse proxy. So when I am trying `CANONICAL_URL="http://api.example.com:8181"` it does not work.

I have tested this on my macbook on docker where it works on localhost:8181 but if i use reverse proxy to some different domain then again page fails to load.

[2019-12-08 18:28] sant-sh commented on #263
Finally I got it, port should not passed in canonical_url as beehive looks for exact url.

This command should be used when using any type of proxy `docker run --name beehive -d -e CANONICAL_URL="https://beehive.example.com" -p 8181:8181 fribbledom/beehive`

@muesli Is there any authentication available for the GUI?

[2019-12-09 19:55] sbrl commented on #263
@sant-sh I believe you need to do that yourself via Nginx.

[2019-12-10 09:37] sant-sh commented on #263
@sbrl that is what I was looking for, thanks for the info and help :)

[2019-12-14 05:56] CalmBit commented on #277
Probably could use something like [this](https://github.com/emersion/go-imap) for it? I'm still planning to see if I can get this up and running now that I'm going to have a LOT more free time on my hands.

[2020-01-17 23:50] Frederik-Baetens opened #281 "Idea: facebook messenger integration"
We would like to send messages that come into our page's messenger inbox to our slack. Would it be hard to support this? Zapier also supports this, but we'd have to pay €50/month for it, which is a bit much for the few messages we recieve trough facebook.

[2020-01-29 10:48] muesli commented on #281
I need to check if the Facebook API supports that. @penguwin, any ideas?

[2020-01-29 11:44] Frederik-Baetens commented on #281
I assume they do since zapier supports it.

[2020-02-04 18:51] Xeoncross commented on #190
I was just looking at this as well. Seems throwing a an embedded go store like boltdb/bbolt/badger onto beehive as a way to persist information would keep things simple yet provide this restart-safe durability.

[2020-02-04 18:53] Xeoncross commented on #190
Related to #26

[2020-02-04 18:57] Xeoncross commented on #26
What would it take to expose a basic key/value store interface for the bees? We could even make it iterable since most Go key/value stores (bbolt, badger, etc..) all support map-reduce and prefix scans.

Perhaps only the bees that care about this interface (rss, email, etc..) would choose to use it. It could also simply be added manually to the bees that want it. I would assume having a separate d

[2020-02-12 17:06] rubiojr opened #283 "Proposal: add user configuration directory to the config search path"
Beehive tries to load a `beehive.conf` from the current directory `./beehive.conf` when booting (if found). If not found, it'll use an in-memory representation until the process exits cleanly, then write it to the current directory.

The proposal is to also search for a config using `$os.UserConfigDir/beehive/beehive.conf`, so `~/.config/beehive/beehive.conf` under Linux for example (platform depe

[2020-02-12 17:07] rubiojr commented on #283
Forgot to mention that, as an additional benefit, this would open the door to have a dedicated config directory where we can store other things, like hive specific data.

[2020-02-12 19:22] muesli commented on #283
I agree, I think it makes sense to follow the XDG specs here. A while ago I've actually written a little Go library that retrieves platform specific paths: https://github.com/muesli/go-app-paths/ - may come in handy here.

[2020-03-16 19:41] rubiojr commented on #230
For some additional ideas, added a very basic Redis based alternative for YouTube videos to https://github.com/rubiojr/beehive-youtube-dl, where an external consumer process for a simple Redis queue is used.

[2020-04-05 07:12] helmut72 commented on #277
Any progress on IMAP support? Thank you!

[2020-04-06 15:15] crile opened #287 "[Windows] Configuration file is not created"
Hi,

I simply run "beehive.exe" but nothing is created in the current directory.

[code]

[2020-04-06 18:27] muesli commented on #287
Did you connect to the Admin interface and created some Bees and Chains?

[2020-04-07 12:21] crile commented on #287
Yes I did. I even try with "`-config`" flag.
I stop the server with "CTRL+C".
The file is not generated during the startup ?

[2020-04-08 01:57] muesli commented on #287
@crile Could you paste Beehive's output just before & after hitting CTRL-C?

[2020-04-08 07:50] crile commented on #287
Extract of the console output below.

[code]

I attached the log file
[beehive.log](https://github.com/muesli/beehive/files/4448998/beehive.log)

[2020-04-08 08:53] crile commented on #287
Sorry, it is not a beehive bug.

I use an alternative console (`nyagos.exe`), and I think that the kill signal force `beehive.exe` to stop so it doesn't have the time to write its configuration file.

It is the first time that I encounter this kind of issue.

Thanks anyway.

[2020-04-08 08:53] #287 closed

[2020-04-08 10:31] crile opened #288 "[Windows] Panic in case of external command error"
Hi,

I want to use the execute command hive.
I do a simple test with `curl http://localhost:8080`.
In case of error in curl, the server is not running, `beehive` stops with the following error 👍

[code]

I know that I can use the http client hive to do this but it is just an example of external command.

---
Beehive 0.3.2 (c66102d5e32bffbad9124d41ae2ffd203ee55399)
On Windows 10

[2020-04-09 12:17] rubiojr commented on #288
I think this's been fixed somewhat recently, in 8eb5a356b55797dfab49dddc9341df042fc789a7.

You could either build from master or wait for @muesli to release new binaries.

@muesli happy to help if you think master is currently in a releasable state.

[2020-04-10 04:38] muesli commented on #288
Yeah, let's do another release this weekend. This fix alone is probably worth it.

[2020-04-10 04:38] #288 closed

[2020-04-10 04:53] muesli commented on #287
Interesting! So you can't reproduce this when starting from a "normal" cmd? There's already a PR which changes this behavior a bit and stores the config before shutdown. I guess this should improve the situation, even though it's clearly never ideal if the console kills the process while it's shutting down.

[2020-04-10 06:26] crile commented on #287
Yes, "CRTL+c" in "normal" cmd works properly. Thanks.

[2020-04-12 09:45] rubiojr opened #291 "Proposal: abstract interface for loading/saving configuration"
The intention is to abstract the configuration interface in `cfg` so we can implement multiple configuration backends, including an encrypted backend that would address https://github.com/muesli/beehive/issues/226.
As a secondary objective, I'd like to experiment with loading beehive's config from a networked endpoint, like an S3 bucket, so this abstraction should make that implementation cleaner.

[2020-04-13 22:27] Zykino opened #293 "Upgrade documentation for the cron and timer hives"
I just saw there are Cron and Time hives and they look too be identical.
The descriptions should better state that Cron is recurring and Time one time only ? The Time hive may need a "once" or "one time only" in the description to make the difference really clear.

And if possible they should be near (Time once, Time recurring (cron)) so user will see both at once and choose whichever they need.

[2020-04-13 22:35] Zykino opened #294 "How to start the service with a --bind url ?"
I followed the Watchdogs and the Troubleshooting docs to know about both of this functions. Starting with `systemctl start beehive` works but is not enabled at startup.
Journalctl is telling me there are too much restart. And just before I have an error telling me that the bind did not work on the IP I defined.

I’m on a Raspberry PI, WIFI.

[2020-04-14 06:05] crile commented on #288
Thanks, it works now.

[2020-04-14 11:52] rubiojr commented on #294
Happy to help.

I'll need to have a look at your systemd service configuration and service logs with --debug enabled, so I can try to figure out what's going on. Beehive's binary version or ref/commit SHA may also help.

Could you add those to a gist after removing any sensitive info and link them here?

[2020-04-14 11:53] rubiojr commented on #294
Is your Raspberry running Raspbian?

[2020-04-14 11:58] rubiojr commented on #293
:+1: The intention of both hives hasn't been clear to me either. I've been thinking we had two different implementations that do the same thing for a while.

[2020-04-14 14:59] Zykino commented on #294
I will come back later with the propers infos/logs. Yes I'm using Raspbian, I'm using the latest release: beehive_0.4.0_Linux_armv6.tar.gz (extracted in to `/opt`) The systemd's configuration is the one I found here https://github.com/muesli/beehive/blob/master/docs/watchdog.md. I did try to add `After=network-online.target` in the `[Unit]` section but I don't know systemctl's syntax so I did not

[2020-04-14 15:06] rubiojr commented on #293
@muesli, would it help to rename that hive to "Once", "On This Date" or something like that?

[2020-04-14 18:08] Zykino commented on #293
I heard you are reworking the admin interface (potentially adding categories) but I think that it is quite important that since this two hives are so close (utility, logo, input, descriptions) that they need to share part of the name and be differentiated on an other part. That way they will be next to each other in the list and as a user I will ask myself which one I need right now. Except if you

[2020-04-14 19:41] rubiojr commented on #294
@Zykino is the intention to bind to a specific IP because you have multiple and you only want to listen on a specific one?

[2020-04-14 21:48] Zykino commented on #294
[code]

`journalctl -u beehive >` [beehive.log](https://github.com/muesli/beehive/files/4477901/beehive.log)

I’m using the `bind` and `canonicalurl` options to access the admin interface from my PC, because on the PI it is not very practical.

[2020-04-15 14:54] rubiojr commented on #294
@Zykino sounds like a service ordering issue. You have at least two options:

 Add `Wants=network-online.target` to your `[Unit]` section. https://raspberrypi.stackexchange.com/questions/88179/service-failing-to-wait-for-internet-connection explains why.

Another option is to use `--bind 0.0.0.0:8181` to bind to all IPs.

So:

[code]

or

[code]

Let us know if that helps, we'll improve the docume

[2020-04-16 12:32] muesli commented on #293
I agree, we should clean that up and combine those two Hives into one, which then offers multiple event types.

We should probably also drop the underlying cron library and switch to a maintained and better tested one: https://github.com/robfig/cron

[2020-04-16 18:50] Zykino commented on #294
So the option to add `Wants` did not work, but setting the bind to `0.0.0.0` did worked. And I am able to access it from my PC.

I could close the issue or do you want me to do more test on to make the ordering thing work ?
Maybe I let you add this to the documentation somewhere and close the issue. I did not understood that we could set the options like that to be able to access the site from an

[2020-04-16 19:15] rubiojr commented on #294
Which Raspbian release are you using? Buster? Stretch? Adding `Wants` fixed ordering for me using Buster.

Maybe I let you add this to the documentation somewhere and close the issue. I did not understood that we could set the options like that to be able to access the site from an other PC.

Yeah, all good. I'll update the docs to mention something like this could be required when using `--bind`

[2020-04-16 19:26] Zykino commented on #294
I don’t know, installed it begining of march. But since it is a PI 4 and saw how to pass the system to 64bits I wanted to try. So it run on aarch64. I did not notice bugs until maybe this one on either systemd or beehive armv6 on aarch64? Not sure, not caring much since the other method is working.

[2020-04-16 19:27] rubiojr commented on #294
Thank you!

[2020-04-16 19:27] #294 closed

[2020-04-16 19:29] Zykino commented on #294
To be honest I needed to ask on IRC to (more or less) understand the difference between `--bind` and `--canonicalurl`. I did not really understand, maybe because I’m not familiar with the specialized network vocabulary in english ^^'.

[2020-04-16 19:49] rubiojr commented on #294
@muesli how bad would it be to set the canonical URL to something like `http://<bind-ip>[:<port>]` when `--bind` is specified, so `--canonicalurl` is not always required for use cases like this one?

[2020-04-19 10:13] DanielRuf opened #297 "Move to org"
I would welcome it if repos with so many stars live under some org to increase the bus factor and make it easier to add and manage more maintainers.

If you missed it, GitHub has also made private repos free for teams / orgs too.

Thanks for your work and stay healthy in these crazy times.

[2020-04-21 11:12] #283 closed

[2020-04-21 11:12] #291 closed

[2020-04-24 20:14] rubiojr opened #298 "Proposal: simple secrets interface to store key/values safely"
The idea is to add a simple secrets key/value store interface that supports multiple backends so Behive can load and store secrets safely.

## Why would that be useful?

* To be able to store beehive's encrypted configuration secret (see  https://github.com/muesli/beehive/pull/295) without requiring an environment variable or the password hardcoded in the URL string. The config would then be decry

[2020-04-25 08:55] Zykino commented on #255
I think more generally a system of intermediate hives / steps on a chain could improve the workflow proposed. Something like node-red is doing where you can chain an "emitter" to one or multiples "transformer" and output that to other "transformers" / "transmitters".

Node-red graphical view is nice but may also be too much for beehive ?

[2020-04-25 09:04] Zykino commented on #176
If this is about executing python program with beehive, the "execute command" hive should be enough. If it is about writting an hive in Python/scripting language, well I don’t know Go but if you could expose C bindings it could let peoples write hives in any language.

[2020-04-25 09:22] Zykino commented on #25
Well to upload videos I think it is better to rely on specialized programs for that. For example https://git.lecygnenoir.info/LecygneNoir/prismedia where I’m a contributor.

As a video maker:
I would totally post an announce on social medias when one of my videos goes live: pre-formatted with the link. And I would love to mix the announce with the link of the same video uploaded on Peertube (doubl

[2020-04-25 09:31] Zykino opened #299 "OBS (websocket) integration"
Since I’m trying to create a "streamdeck" from a raspberry pi and beehive, it is the most obvious hive missing for me. Social media are already present, twitch to post with one touch / create a minimal bot is here too.

In the meantime I will surely use the https://github.com/muesli/obs-cli and/or https://github.com/muesli/obs-scene-switcher as executable.

[2020-04-25 10:17] muesli commented on #255
@Zykino This is technically possible, but the admin interface lacks the UI/UX for it. I'm currently working on a new interface, but I fully admit struggling with the workload at the moment.

[2020-04-25 10:31] Zykino opened #300 "Add documentations for heach hive"
I’m trying to use those hives but I’m not clear on how to do it. It will be clearer if hive maker added documentation on how to configure them. A (formatted?) text explaining how to configure the hive (generate secret keys, …) with a link to the official website for example.

For example:
Discord, should I create an application or a bot?
Twitter, I need to give my phone number?
Twitch, I tried to

[2020-04-25 11:02] muesli commented on #300
I agree, we desperately need some help here. Ideally we start writing these docs as markdown, so we can easily generate html & plaintext formats and benefit in multiple places (like a website and the admin interface) from it.

[2020-05-01 19:00] #226 closed

[2020-05-07 11:56] it-parasite opened #308 "Formatting text and editing parameters"
I am using BeeHive on a Raspberry PI. I haven’t figured it out everywhere yet, but I really miss it:
- formatting the text of messages in Telegram,
- editing the parameters of already created chains.

[2020-05-07 14:07] rubiojr commented on #308
I'll have a look at that one.

[2020-05-07 14:53] it-parasite commented on #308
Very Thanks!

[2020-05-07 15:07] rubiojr commented on #308
@it-parasite in case you're not familiar with it yet, as a stop-gap measure until chain editing is added to the GUI, you can stop beehive and edit the configuration JSON file manually.

[2020-05-09 20:26] Zykino commented on #300
So I started creating some notes/descriptions. They may note be clear enough since I wrote them once I got the bee and chain working (mostly). https://wiki.zykino.net/StreamDeck

I will continue to add some here but feel free to use it or ask me my current notes if the address changed.

[2020-05-20 08:15] FabianTe commented on #277
I would too be interested in this. But i figure there are a couple of questions to consider when implementing this. Would an IMAP event simply fetch all mails? Or should it filter only a subset of mails from an inbox folder? A trigger like that would also have to move the processed mails into another inbox folder to avoid having them being picked up multiple times.

[2020-05-22 08:49] helmut72 commented on #277
My workflow will be processing specific attachments by filename, from, subject or any other header field. For now it's a cronjob and it works, but I always need to remember it exits.

[2020-05-29 14:23] cerebrate opened #313 "MQTT Bee"
Being able to send and receive/act on MQTT messages would be very useful for integrating with assorted home automation systems.

(This probably needs the ability to optionally parse the content of MQTT messages as JSON, since most of them tend to be, IME.)

[2020-05-29 14:26] cerebrate opened #314 "Publish arm docker container as well as amd64"
Should hopefully be simple enough; it builds just fine using the existing Dockerfile (to https://hub.docker.com/repository/docker/cerebrate/beehive , for example), but it would be good to have an official image that keeps pace with releases.

[2020-05-31 10:10] mhajder opened #315 "Update go-guerrilla package needed"
Here is a problem that is important to me and requires an update of the go-guerrilla package.
https://github.com/flashmob/go-guerrilla/issues/147

You can't compile it on FreeBSD otherwise.

[2020-05-31 11:24] mhajder opened #316 "IRC connection flags"
It could be useful to add the option of adding flags to the irc connection.

[2020-06-01 12:48] rubiojr commented on #313
Not exactly the same, but since we added a [Redis hive](https://github.com/muesli/beehive/blob/master/bees/redisbee/README.md), you could try to use a Redis<->MQTT bridge and publish/read messages using a Redis channel.

[2020-06-01 15:46] muesli commented on #313
Just a heads up at this point, but I do have a work-in-progress Hive for MQTT messaging.

[2020-06-01 18:31] #315 closed

[2020-06-03 23:01] muesli commented on #316
You mean as initial commands after a successful connection?

[2020-06-04 06:37] mhajder commented on #316
Yes. Like:
[code]

[2020-06-06 22:47] moqmar opened #318 "Watch new releases in GitHub bee"
It would be awesome if the GitHub bee had a trigger for new releases, so it could be used to trigger builds of dependent software.

[2020-06-06 22:48] moqmar opened #319 "Docker Registry Bee"
It would be awesome if there was a bee that could trigger if a new version or a tag (matched by a regular expression) was uploaded to the Docker Hub (or other Docker registries), so it could be used to trigger builds of dependent software.

[2020-06-06 22:50] moqmar opened #320 "Linux Packages Bee"
It would be awesome if there was a bee to track updates of Linux packages (in my case for Alpine Linux), so it could be used to trigger builds of dependent software. This could be done by parsing https://pkgs.org, or by accessing the repos directly.

[2020-06-08 14:35] rubiojr commented on #318
Should be easy to add to the existing bee.

@moqmar you could try to use the RSS bee in the meantime to monitor the atom feed for a given project (i.e. https://github.com/muesli/beehive/releases.atom).

[2020-06-09 09:48] Zykino commented on #318
It’s what I have done, but since github does not show the RSS feed prominently, a sample showing how to follow beehive’s releases (and show a desktop notification ?) can be a nice "hello world" example.

[2020-06-09 15:07] Zykino opened #321 "Discord does not reliabily connect"
I have beehive on my PI, connected on WIFI to my router. The WIFI is shut down at night, but not the PI. When the WIFI is down, beehive does not update the watchdogs and die (why? Should I open an issue just for that?).
When reconnecting to internet, beehive restart with everything, but Discord bot is making 3 **really** quick try to connect, and then stay off until I go to the admin interface and

[2020-06-09 15:13] Zykino opened #322 "Calendar (CalDav/iCal) Hive/Bee"
I would love to use the output of my video upload script (https://git.lecygnenoir.info/LecygneNoir/prismedia) and create an event at the publishing date. Once the event occurs, send a message on social medias with the event's title + description as content.

This way I could format the output of Prismedia to be the message I want to send. And if I sync the calendar on Nextcloud I may publish it pu

[2020-06-14 02:43] rhnvrm commented on #314
+1 to this request. I would be happy to contribute to getting this integrated in the release script as well.

A few observations,
- I could not find `docker build` or `docker push` inside either `tools/release.sh` or `travis ci` or the `goreleaser` files
- I assume, https://hub.docker.com/r/fribbledom/beehive, is now being pushed to manually by @muesli
- Maybe, we could try the following: https://

[2020-06-14 02:57] muesli commented on #314
Correct, I'm currently running `docker build` and `push` manually after pushing a new release.

I'm currently trying to move away from TravisCI, which sadly has become just too unreliable. We could achieve something similar with GitHub Actions, of course, but I think ideally we integrate this with goreleaser. Contributions are more than welcome here! :heart:

[2020-06-14 04:11] rhnvrm commented on #314
Hey

I'm not familiar with Github Actions but I've attempted to add the `docker buildx` step to `release.sh`  here: https://github.com/rhnvrm/beehive/commit/84725cb4167f86f7adc2ce17e0519a5b93f51369

I was able to push to docker hub with multiple archs: https://hub.docker.com/r/rhnvrm/beehive/tags

For setting up buildx with multi arch you will need to do the following locally:
1. Add `{"experiment

[2020-06-18 12:52] jk-na opened #325 "RSSBee - add ability to change polling frequency"
I asked @muesli on mastodon whether it was possible to change the polling frequency for RSSBee and it seems that it is not.

Raising a ticket as per his request.

[2020-06-18 13:12] rubiojr commented on #325
Started working on this, should be quick.

https://github.com/muesli/beehive/compare/custom-rss-poll-interval

[2020-07-25 16:26] #189 closed

[2020-07-25 16:27] #201 closed

[2020-08-06 15:21] cmutts opened #329 "Rss Feed to Twitter with image"
Hi all,
I have a beautiful installation of beehive on my system and setup an active Facebook page rss to Twitter chain. Any update from the rss is auto posted to Twitter. However, even with the Title and links setup, Twitter only shows the text and the link, even when the link is a photo or video. How can I get twitter to show a thumbnail or image from the rss feed article?

[2020-08-14 14:46] rhnvrm commented on #314
Found this recently,

https://github.com/crazy-max/ghaction-docker-buildx

Should we try adding this?

[2020-08-17 09:42] muesli commented on #314
@rhnvrm Haven't tried `docker-buildx` before, but sounds intriguing. Isn't offering Docker Hub a similar integration, though? I'll have to read up on that.

[2020-08-19 04:38] rhnvrm commented on #314
Hey, just read a bit more about this. Docker Hub also seems to provide it with pre/post hooks.

This repo shows how it can be done:

https://github.com/ckulka/docker-multi-arch-example
https://hub.docker.com/r/ckulka/multi-arch-example

It seems to rely on https://github.com/estesp/manifest-tool

Both methods have their merits.

One benefit, of setting up using buildx, might be that we can have a

[2020-08-19 12:19] muesli commented on #314
Another option would be using the already existing goreleaser setup (see `.goreleaser.yml`) to publish Docker builds. That would actually heavily improve and simplify the entire release process.

[2020-08-19 13:12] rhnvrm commented on #314
I had explored this option as well but landed on https://github.com/goreleaser/goreleaser/issues/530

[2020-09-12 05:32] abserari opened #331 "Proposal"
1. add a Registry, which could retrieve the bee info or code and dynamic use in beehive.
2. distribute, node as a worker that scheduled by beehive. only need connected to beehive master or admin node.
3. worker cluster, bee could have its own hive managed by themselves, when a request arrived, the beehive new bee with configuring or direct use one current bee to work.
4. well-defined for P2P netwo

[2020-09-12 22:21] #297 closed

[2020-10-01 06:35] mhzawadi commented on #314
Hello,
Any news on this? would love to have a play, but only have pis at home

[2020-10-01 08:56] rhnvrm commented on #314
It seems like the docker-buildx repo I had linked earlier has been moved under `docker` organization

https://github.com/docker/setup-buildx-action

I can give it a try with a new PR. What do you say @muesli ?

[2020-10-01 09:07] muesli commented on #314
@rhnvrm Yeah, go ahead :heart: Since goreleaser support is still WIP I'd say we should explore this route.

[2020-10-02 12:52] Phoenix616 opened #332 "Stop requiring description"
Currently all bees and chains seem to require a description when the title is usually enough. Descriptions should be optional.

My current workaround is to just put a space in there but that gets annoying fast...

[2020-10-03 16:17] Phoenix616 opened #335 "100% CPU usage if using Twitter bee"
It seems to be using 100% of one core/thread once I enable a Twitter bee even without using any kind of chain which would react on twitter actions (I only use it to send tweets)

[2020-10-03 16:30] muesli commented on #335
Thanks for the heads up. That may be related to Twitter shutting down several API endpoints. Investigating.

[2020-10-03 23:41] #247 closed

[2020-10-07 15:30] rocket357 commented on #331
I could see this being particularly useful in a kubernetes environment where you could scale pods out based on workload.

[2020-10-24 10:24] pbek opened #344 "Email hive doesn't work with unauthenticated smtp servers"
I'm using a docker container only beehive has access to as smtp server to send myself emails, but the admin interface doesn't allow you to skip user credentials.

(Thank you for this great project, I want to automate some things with it for https://github.com/pbek/QOwnNotes.)

[2020-10-24 10:43] pbek commented on #344
I found out you can get around it by entering some text and removing it again later. That way it works.

[2020-10-24 18:59] pbek commented on #264
I did get the same error message when trying to retrieve an access token.
The facebook hive tries to get `publish_actions` permission. This permission doesn't seem to exist any more.
I cannot find them on https://developers.facebook.com/docs/facebook-login/permissions or in the permission list on https://developers.facebook.com/tools/explorer/.

[2020-10-24 19:02] pbek commented on #264
I valid permission could be [pages_manage_posts](https://developers.facebook.com/docs/permissions/reference/pages_manage_posts).

[2020-10-24 19:23] pbek commented on #264
I replaced the permissions in Beehive which allowed me to get an access token, but when I tried to post a message to my Facebook page I got an error:

[code]

[2020-10-24 19:40] pbek commented on #264
I tried to use the scopes `"public_profile", "pages_manage_posts", "publish_to_groups", "pages_read_engagement"` but wasn't able to get an access token on localhost because https was enforced by Facebook.

[2020-10-24 19:44] pbek commented on #264
I created a pull requests for the scopes: https://github.com/muesli/beehive/pull/345

[2020-10-25 08:28] pbek commented on #335
@muesli, I was able to post to Twitter, but two cores of my server are at 100%! Were you already able to take a look at the Twitter Hive? Reacting to Twitter likes didn't seem to work for me, `Last Event` always says `never` for me.

[2020-10-25 11:24] pbek commented on #335
@muesli, the only thing that runs infinitely in the Twitter Bee seems to be:

https://github.com/muesli/beehive/blob/f6ac3ac98e38727fdf0255f85ee26ab4298c3c7a/bees/twitterbee/twitterbee.go#L290-L295

[2020-10-25 11:26] pbek commented on #335
Although `item` seems to be `nil` a lot (all the time?).

[2020-10-25 11:49] pbek commented on #335
I was able to fix the 100% CPU problem, but reacting to a like still doesn't seem to work for me. At least posting tweets is still working...

https://github.com/muesli/beehive/pull/347

[2020-10-25 12:53] pbek commented on #335
Last commit on https://github.com/ChimeraCoder/anaconda (library that handles the Twitter API) was 2 years ago. 😬

[2020-10-25 13:05] pbek commented on #335
The user stream <https://userstream.twitter.com/1.1/user.json> is [retired since more than 2 years](https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/subscribe-account-activity/migration/us-ss-migration-guide).

The replacements seem to be the "Premium Account Activity API" and "Enterprise Account Activity API". 😁  At least posting tweets still seems to work.

[2020-10-26 04:09] muesli commented on #335
Yeah, I guess most people stopped using the Twitter API at that point, myself included. I'm actually one of the anaconda maintainers, but development has pretty much ceased when Twitter shut down most of their API for public use.

[2020-10-26 04:54] #264 closed

[2020-10-26 04:57] muesli commented on #344
Ok, we should probably mark these options as non-mandatory.

[2020-10-26 05:06] pbek commented on #335
Posting still works (and I plan to use it), only the user stream is shut down.

[2020-10-26 05:47] muesli commented on #335
I've just removed the user stream from the Twitter hive, as it's not supported by Twitter anymore. This in turn means the TwitterBee now only supports posting, following & unfollowing other users. There are no more events we can currently support. What a shame.

This also fixes this issue.

[2020-10-26 05:47] #335 closed

[2020-10-26 08:00] pbek commented on #335
Awesome, @muesli! Are you also pushing the changes to Docker-Hub so I can use your container again? 😁

[2020-10-26 08:10] muesli commented on #335
If you use beehive:latest, this will automatically be built every time someone pushes to git master.

[2020-10-26 08:54] pbek commented on #335
`image: fribbledom/beehive` should get the latest, thank you very much!

[2020-10-29 09:23] ololosha228 opened #350 "Bug: web UI trying to fetch localhost instead real address"
Soooooo strange to say it, but:

i reproduced issue #156, which said that webserver is broken (not a webserver, actualy, but web ui)

What happens:

I installed docker container on my dedicated server with my domain (`somecooldomain.com`, i don't want to show it), BUT!

js code is trying to get another js script from localhost! Just, you know, forcely get, this is a part of error log:

[code]

**A

[2020-10-29 09:25] ololosha228 commented on #350
I found also `CANONICAL_URL` env, which is, you know, looks pretty dumb, cause you can already predict canonical url from web browser already. and, also, **setting custom CANONICAL_URL isn't working!** script anyway tries to fetch localhost endpoint

[2020-10-29 09:41] muesli commented on #350
If you know a solution around `CANONICAL_URL` I'll happily accept a pull request. Setting a custom `CANONICAL_URL` is working just fine, though. I tried it a minute ago with the latest `beehive:latest`. Please give us a bit more information how you're exactly invoking Beehive. Feel free to replace the actual domain name with `foobar.com` or something similar.

[2020-11-01 02:42] deranjer opened #352 "Allow beehive to run as nginx reverse proxy subdirectory"
Would love to run beehive as a subURL behind nginx reverse proxy instead of needed to do it as a subdomain.

Essentially would need to rewrite however you are serving assets to go at the end of canonical URL.

Currently it fails to write the full canonical URL and you get a blank page.

It is requesting assets from "domain.com/assets" instead of "domain.com/subURL/assets".

Works perfectly fine wi

[2020-11-02 17:35] pbek opened #353 "Publish Content to Facebook Pages"
I propose to implement posting content to a Facebook Page with the current `post` action.

The bee needs 2 new config fields. I'll document them in the wiki. `page_id` and `page_access_token`. I don't need any of the other config.

[2020-11-02 17:58] pbek commented on #353
@muesli

PR: https://github.com/muesli/beehive/pull/354
Doc: https://github.com/muesli/beehive/wiki/Facebook

[2020-11-03 14:30] ololosha228 commented on #350
@muesli sure, i'll try to experiment, and if i found any issue on backend, i'll let you know (cuz i don't work with js, sadly)

[2020-11-03 19:26] pbek commented on #353
Automatic permanent page access token is working now.

The pull request is now ready for inspection and merging, @muesli!

[2020-11-05 03:33] deranjer commented on #278
I was looking into this and it seems the major hurdle is that we need to create a popup to have the user authenticate the application, or at least expose a link to the user that is generated after the initial oauth call... I haven't looked into the API for creating bees very extensively, but some basic searching seems to show something to do with oauth in the "factories.go" source that may allow a

[2020-11-05 12:36] ololosha228 commented on #350
@muesli yikes, i found pretty bad code [here](https://github.com/muesli/beehive/blob/ad9027731536ad3e9410ebe9713af5729ccd36cf/api/api.go#L115).

Looks like it changing html page via bytes replacer (which is SO SO BAD idea). that's why it doesn't change canonical url i think.

Also, it doesn't so necessary to include hostname in html page (but url path is pretty required), so maybe `api` package ne

[2020-11-05 13:06] muesli commented on #350
Can you elaborate a bit more? I'm not sure what issue you're seeing.

[2020-11-06 12:39] pbek commented on #353
Done now.

[2020-11-06 12:39] #353 closed

[2020-11-06 15:51] rhnvrm commented on #314
@muesli I have updated #323

For testing, I created a dummy tag and pushed it in my fork: https://hub.docker.com/repository/docker/rhnvrm/beehive/tags?page=1

After merging, any tag pushed will be pushed to your dockerhub.

Two secrets will need to be set up:

[code]

[2020-11-10 13:33] Sakrecoer opened #356 "Mastodon Triggers Actions inconsistencies"
Hi!

Thanks for an awesome tool!

I have been experimenting with the mastodon bees and actions and found an inconsistency and an unexpected behavior with  `{{.username}}`.
For reblog action, the definition states: _"Mastodon handle of the user that re-blogged your toot"_
For follow action, the definition states: _"Mastodon handle of the user which triggered the follow event"_

**1. Inconsistency**

[2020-11-10 15:03] muesli commented on #356
Thanks @Sakrecoer, I'll look into this!

[2020-11-10 22:04] Sakrecoer opened #357 "Missing URL in messages transmitted from telegram to IRC"
I set up a chain to take a message sent to telegram bot to be delivered to an IRC channel. However if the text of the message contains an URL, `{{.text}}` is not  transmitting this URL to IRC.

[2020-11-10 22:16] Sakrecoer commented on #357
This seems to be specific to the IRC bee. Using `{{.text}}` with the mastodon or the telegram bee considers the URL as part of the text as expected.

[2020-11-11 06:45] muesli commented on #357
Is this URL exceeding the line length of your IRC server?

[2020-11-11 08:42] Sakrecoer commented on #357
Thank you for your quick response!

I believe it isn't too long. But you made me understand what happened: line
breaks!

For reference here is the format of a test messages:

[code]

Only the first line came through! Which might be unfortunate in my usecase,
but makes total sense.

Sorry for the noise and many thanks for looking into this.

On Wed, 11 Nov 2020, 07:46 Christian Muehlhaeuser, <notif

[2020-11-11 09:25] muesli commented on #357
In that case we should probably split the text by `\n` and send the lines out individually.

[2020-11-11 09:48] muesli commented on #357
I've just pushed a commit that should fix this situation: we're splitting each outgoing message by the newline character now.

[2020-11-11 09:48] #357 closed

[2020-11-11 09:56] Sakrecoer commented on #357
wow! how quick!? \o/
Thank you very much!

There's not much i can offer in return of your precious dedication, but i
have started writing documentation on how to set up the telegram and
mastodon bees for the wiki <3

On Wed, 11 Nov 2020, 10:48 Christian Muehlhaeuser, <notifications@github.com>
wrote:

[2020-11-11 10:18] muesli commented on #357
Kind words and the courage to open a ticket is a lot more than most people offer these days :smiley:

So "thank you very much" right back at you :heart:

[2020-11-11 16:28] Sakrecoer commented on #316
I would very much appreciate this too! :)

[2020-11-20 14:53] LecygneNoir opened #359 "Discord bee status goes back to "with bees" by itself"
Hello!

I have found something that is (I think) unintentional in the discord bee about the bot status.

In the code (see the[ review](https://github.com/muesli/beehive/pull/239/files#diff-c224a4e9362a3471095bb41a73b146d7c52d9d19206f793efa2f411595b9abdcR76)) the bot use a default status "with bees", and muesli suggested to add a function set_status

While Calmbit indeed added it (thanks 😍 ), it's

[2020-11-30 06:10] fukawi2 opened #360 "Filter negation"
Apologies if this is in the docs, but I couldn't find it.

Is it possible to negate filters? For example, one of my filters I want to ignore GitHub issues with a certain prefix in the title. I'm aware of `ne` to negate a whole string, but I want to negate a prefix filter in this instance:

[code]

Beehive hasn't complained about the above syntax, but I'm not sure if it will actually work or not?

[2020-12-06 17:43] Profpatsch opened #361 "lock files out of date"
[code]

blend/go-sdk renamed their tag to `legacy-v2.0.0` and now the lock file is broken, see https://github.com/nix-community/vgo2nix/issues/48

I am uncertain how `go get` still works, they might be falling back to just ignoring the hash (which is a security nightmare, but what do I know).

[2020-12-06 20:08] Profpatsch opened #362 "Security issue with aesbackend.go environment variable"
The `-encrypt` option introduced in https://github.com/muesli/beehive/pull/295 allows the config file to be encrypted via the `BEEHIVE_CONFIG_PASSWORD` environment variable:

https://github.com/muesli/beehive/blob/57a4fabd506def6a9be960839466fce271771f58/cfg/aesbackend.go#L225-L239

In general, using an environment variable for a password is more secure than using a command line argument, with one

[2020-12-06 20:12] Profpatsch commented on #362
Since the `save` function also needs to read the password, it should probably be saved in a struct after the environment variable is unset. This is still not perfect (it could be read from the memory of the application), but better than leaking it to subprocesses by default.

cc @rubiojr

[2020-12-06 23:07] rubiojr commented on #362
Thanks @Profpatsch, a common and valid concern that we can probably mitigate (see https://github.com/restic/restic/pull/2910 and https://github.com/restic/restic/issues/521 for example for similar discussions and other alternatives), though if you run Beehive in an untrusted environment or executing rogue code (say via exec bee or linked modules), you'll probably have bigger issues.

I need to rev

[2020-12-07 05:07] muesli commented on #361
Bumped the transitive dep in kmeans, gamut & beehive.

[2020-12-07 05:07] #361 closed

[2020-12-07 11:31] Profpatsch commented on #362
That is not the problem, the problem is with the environment variable *accidentally* leaking; you regularly have processes which dump the whole environment into log files for example.

[2020-12-13 11:07] pbek opened #363 ""Fatal chain event" while posting RSS to Telegram"
Is that something anyone else gets?

I'm using the latest Docker Image of Beehive.
I'll watch at the next release of QOwnNotes if the chain crashes again...

[code]

[2020-12-28 08:54] #318 closed

[2021-01-07 11:41] corrantho commented on #356
In `beehive/mastodonbee/events.go` we have the following code (line 177):

[code]

The event field `username` is indeed mapped with `notif.Account.DisplayName`.
However, here is an extract of the information returned by the Mastodon GET ACCOUNT API (https://docs.joinmastodon.org/methods/accounts/#retrieve-information):

[code]

My proposition is to implement the following change:

- re-map beehive

[2021-01-09 19:09] corrantho commented on #344
I think this issue can now be closed.

[2021-01-09 21:23] pbek commented on #344
Nice, thank you!

[2021-01-09 21:23] #344 closed

[2021-01-26 11:06] micheelengronne opened #368 "PGP key signing the checksums"
Hello,

I would like to know where can I found the PGP public key to verify the checksums.

Thank you.

[2021-01-26 12:58] micheelengronne opened #369 "new release ?"
Is it possible to create a new release ?

I would like to use beehive and respect the semantic versioning.

Thank you.

[2021-01-28 05:33] muesli commented on #368
I think you can grab them from GitHub. Alternatively, you can find them here:

https://fribbledom.com/about/

[2021-01-28 05:33] #368 closed

[2021-01-28 05:34] muesli commented on #369
Yeah, it's about time really.

[2021-01-28 05:48] #356 closed

[2021-01-28 14:29] micheelengronne opened #370 "Twitch 'Go live' event"
I would like to have the 'Go live' event added to the Twitch bee.

If I have time I will try to do a commit for that.

[2021-02-09 22:17] MrColumbo commented on #107
Is there any documentation about the HTMLExtractBee? I also thought about using that as a web change notifier .....but I am not even sure how it is supposed to work as it is.

[2021-02-11 15:06] corrantho commented on #10
I think we can close this issue.

[2021-02-16 06:24] rwv37 commented on #250
I'm trying something very similar (I have beehive running on a FreeBSD box, and am trying to use Apache on that same box as a reverse proxy to provide https, authentication, and nonlocal access). I am running into the same problem (blank page, trying to pull scripts from "/assets"). I am apparently too dumb to use mod_proxy_html correctly, although I'll keep trying.

So, I'm wondering if there is

[2021-02-22 21:07] voarsh2 opened #371 "Loading via IP gives blank page"
[code]
![image](https://user-images.githubusercontent.com/60437695/108770240-f9e0eb80-7551-11eb-9f3a-279fe728910d.png)

[2021-02-24 00:17] voarsh2 commented on #371
Seems relate to #244

[2021-03-06 12:58] spinnaker1 opened #372 "Feature Request: allow set custom cookie for website bee"
To reach content thats behind login protected websites, please allow to set custom cookie in "Website Bee".

How this feature works:
1) Login to your website
2) export the cookie in your browser (e.g. Chrome extension "cookies.txt")
3) paste the cookie information into the bee's cookie setting

[2021-03-12 10:08] jk-na commented on #325
Hi @rubiojr just wondering if you made any progress on this?

[2021-03-17 23:45] Zykino opened #374 "Oauth authentication to 2FA websites"
I am unable to use some hives/bees because I activated the 2FA on the website they need to connect to. And the bees ask me my password, but nothing works because they never (and cannot really) ask my 2FA token.

- [ ] Twitch (forced to use the 2FA if you reach affiliate… so when money is at play)
- [ ] Mastodon

There may have other hives with the same problem that I am not using.

I thought I alr

[2021-04-15 17:08] c-nv-s commented on #140
I was just about to create this exact issue, then I saw this ticket and realized it is 4 years old :-(

[2021-05-10 21:18] stevenbuehler opened #375 "go-bindata issue on Raspberry Pi"
when attempting build w/ Go 1.16:

[code]

[2021-05-10 21:27] stevenbuehler commented on #375
Resolved; had 1.11 also installed; removed 1.11.

[2021-05-10 21:27] #375 closed

[2021-05-20 14:13] mredaelli commented on #277
Also interested :)

[2021-05-20 14:17] mredaelli opened #376 "Wallabag bee"
For my use-case it would be great to have a bee that saves a URL to my Wallabag instance, with appropriate rule-based tags if possible.

[2021-05-20 15:06] helmut72 commented on #277
Have a look at this:
https://github.com/andris9/imapapi

[2021-08-07 22:22] prologic commented on #369
@muesli So let's do it? :)

[2021-08-10 16:30] timkrief opened #378 "twitch issue"
It could be because what I entered in the form is false, but I'm pretty sure I'm doing things the right way, and since there is no guide for this hive, I have no clue what could be wrong. When I create a bee for twitch, beehive completely crashes.

[code]

[2021-08-10 16:33] timkrief commented on #370
Yeah, that would be great to have :) Maybe it could be possible by getting a mail notification to a fake account? But it would add a lot of latency.

[2021-08-10 16:34] timkrief opened #379 "Tumblr post types"
Hi,
Thanks for your software!
Is there a reason why other post types aren't available or could we add them as actions?

[2021-08-13 12:46] Sakrecoer opened #380 "Telegram bee stopped working"
As of august 6th the telegram bee stopped working. I suspect there might have been some change in the API. I've tested with a new API token, but i'm not too sure how to debug it as i don't seem to be able to locate the logs anymore :/

[2021-08-13 17:21] corrantho commented on #380
Hi @Sakrecoer, could you please give instructions on how to reproduce the issue? I've just created a new telegram bee and it seems to be ok.

[2021-08-13 21:11] corrantho commented on #380
Hi @Sakrecoer, could you please provide instructions on how to reproduce the issue? I created a new telegrambee and could not reproduce the bug on my side.
The bot is correctly sending a message to my chat_id.
Please provide the error log.

Thank you.

[2021-08-17 10:14] Sakrecoer commented on #380
@corrantho Sure. But where do i find the error logs?

[2021-08-17 12:43] muesli commented on #380
@Sakrecoer There's no separate logfile. Simply start beehive, and it will log on `stdout`. If you're running beehive as a `systemd` service, check `journalctl`.

[2021-08-18 08:07] Sakrecoer commented on #380
@muesli of course... silly me lol...

Well, this is very weird. The bot is authorized on telegram. no error messages at all. Filters are executing fine. No error messages no nothing happens.

[code]

[2021-08-18 08:19] Sakrecoer commented on #380
wow.... i have no idea what has happened. It's like the Nth time i restart it. I did it again, but this time it sent out the last event i tried to deliver _before_ reboot. (sending a message to the telegram bot for it to deliver them in a channel)

But there's nothing about it in `journalctl`

[2021-08-18 13:13] Sakrecoer commented on #380
Closing this, everything seems to be working again. Probably something fishy with the system my beehive is running on.

[2021-08-18 13:13] #380 closed

[2021-09-11 21:24] skiant opened #381 "Pocket (formerly Read It Later) bee"
Would it be possible to add support for [Pocket](https://getpocket.com) ?
I'd really like being able to automate actions when I star an item, or adding items in Pocket from other sources.

[2021-10-11 18:28] pbek opened #382 "Mastodon: "Fatal chain event" on post"
Hi @muesli, I got this in my beehive Docker container (latest). I don't know if this helps...
My Mastodon bee usually works, it just stopped working, so I restarted the container after getting below message (I don't know yet if it works again).

[code]

[2021-10-11 18:59] muesli commented on #382
I'll have to check out the backtrace, but it's probably worth bumping the go-mastodon dependency one way or another. Let me know if you run into this again!

[2021-10-19 08:17] jony4 opened #383 "panic happened when click save "bees - changes" action"
[code]

[2021-11-11 16:16] pbek commented on #382
I got that again:

[code]

[2021-11-16 14:37] pbek commented on #382
And again yesterday...

[code]

[2021-12-17 03:02] Nudin opened #385 "Install with go get fails compiling"
I tried to install beehive using the linked ansible role, with runs `got get beehive`, but the compiling fails:

[code]

Compiling beehive from the cloned git-repo works however. I have `go version go1.15.9 linux/amd64` on Debian Buster from buster-backports.

[2021-12-17 22:24] Nudin opened #386 "Migrate Twitter to APIv2"
I tried to use the twitter bee, but it fails; the log shows the following error message:

Is it possible to migrate to v2? Or did I just something wrong?

[2021-12-25 01:35] Nudin opened #387 "Make description of bee optional"
When having a bigger collection of bees and chains, the descriptions are very useful. But when just getting started and experimenting or when only one bee of a type is ever needed, it's just an annoyance being forced into supplying a description.
Please don't notch people to give descriptions, since not everyone will benefit from using them, and they can be added later.

[2022-01-02 15:02] juergenhoetzel commented on #362
Opened a PR to retrieve the secret from an external command: [Add support for reading AES backend password from external command](https://github.com/muesli/beehive/pull/389)

[2022-01-26 12:04] georgkrause commented on #335
If thats resolved, please consider updating https://github.com/muesli/beehive/wiki/Twitter

[2022-02-16 06:56] bscott commented on #387
+1

[2022-02-16 06:57] bscott opened #390 "Is this project maintained?"
Does this project need more maintainers to assist with issue handling and merging of PR's

[2022-02-16 07:06] muesli commented on #390
@bscott Yes, it is, but it's currently undergoing a major upgrade/rewrite. Feel invited to join [our chat](https://matrix.to/#/#beekeepers:matrix.org) if you want to find out more, or just wait a couple more days for some news!

[2022-02-17 03:37] bscott commented on #390
Thanks @muesli Happy to contribute as well :)

[2022-02-19 12:39] gingerbeardman commented on #244
Thanks for this.

I missed the docket at the bottom of the readme.

Does the docket higher up without the canonical url work in any circumstances?

[2022-03-02 10:41] muesli commented on #385
Please use `go install` to make use of Go modules, or manually clone and "go build" this project.

[2022-03-02 10:41] #385 closed, assigned to nobody

[2022-03-23 20:41] TimBurris commented on #313
Any progress on the mqtt connector?  i'm guessing not :(

[2022-03-24 12:26] muesli commented on #313
Actually there is and we have a bigger Beehive update coming any day now. Stay tuned :smile:

[2022-03-24 12:49] TimBurris commented on #313
Egg on my face for making that assumption!! that is great news, i'm super excited to see the update and possible mqtt connector!  thank you for you quick reply!

[2022-04-16 15:31] Zodyart commented on #196
You wisdom stands strong even in 2022 you have helped me quickly, thank you!

[2022-04-21 13:16] TimBurris commented on #313
any update on the bigger Beehive update?
we are currently looking for an event automation system that we can host on-prem, used in non-internet connected environments.  we LOVE the Beehive UI.  I'm not a GO developer but I suspect i could pick it up and help out, but i'd like to work from your latest code since it's a big update.
thank you for all your work on this project!

[2022-04-27 13:22] MatthewAry commented on #390
Out of curiosity, will the rewrite have the same license?

[2022-04-27 15:01] muesli commented on #390
No, we're actually going to switch to MIT.

[2022-05-23 04:51] ddemoss222 commented on #390
I am excited to see some of the changes. Any updates on this?

[2022-06-30 19:44] helmut72 commented on #390
Any news?

[2022-09-12 04:12] raguay opened #392 "Build error on MacBook Pro M1 system"
Since there isn't a binary for the M1 system, I was trying to build it. But, I keep getting:

# golang.org/x/sys/unix
/Users/raguay/go/pkg/mod/golang.org/x/sys@v0.0.0-20191120155948-bd437916bb0e/unix/syscall_darwin.1_13.go:25:3: //go:linkname must refer to declared function or variable
/Users/raguay/go/pkg/mod/golang.org/x/sys@v0.0.0-20191120155948-bd437916bb0e/unix/zsyscall_darwin_arm64.1_13.go:2

[2022-11-02 03:00] funkywaddle opened #393 "Schedule email of weather"
Maybe I'm overlooking something, but it feels like the chains are only 2 in length, so it may be impossible, but how would I schedule emailing the next day's forecast?

This looks like it currently requires 3 bees (Time, WeatherMap, Email).

[2022-11-29 11:15] alexgarel opened #394 "Bug: Multiple CORS header 'Access-Control-Allow-Origin'"
I run the docker version of beehive:

[code]

I open http://127.0.0.1:8181/ if firefox.

I get this error in console:
[Multiple CORS header 'Access-Control-Allow-Origin' not allowed](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMultipleAllowOriginNotAllowed)

![Capture d’écran du 2022-11-29 12-06-39](https://user-images.githubusercontent.com/144788/204513857-ef5b806e-ed96-44d7